@charset "utf-8";

// Grays colors
$black: #000;
$gray-darker: #333;
$gray-dark: #7b8a8b;
$gray: #95A5A6;
$gray-light: #b4bcc2;
$gray-lighter: #ECF0F1;
$white: #fff;

// Accent colors
$blue: #2ba6cb;
$blue-dark: #2C3E50;
$blue-light: #1dbbd6;
$turquoise-blue: #01A3B2;
$green: #18BC9C;
$red: #E74C3C;
$yellow: #e6bb0d;
$orange: #F39C12;
$pink: #ff6699;
$pink-love: #ff0084;
$purple: #8E44AD;

// Trends colors
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;
$peter-river: #3498DB;
$belize-hole: #2980B9;
$amethyst: #9B59B6;
$wisteria: #8E44AD;
$mykonos-blue: #005b88;
$monaco-blue: #344c80;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$sun-flower: #F1C40F;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$salmon-pink: #f3a68c;
$github-orange: #D26911;
$koi: #d25c3f;
$samba: #a82b38;
$vivacious: #a92a5c;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;

// Bland colors
$amazon-orange: #e47911;
$twitter-blue: #55acee;
$facebook-blue: #3b5998;
$hatena-bookmark-blue: #5279e7;
$zenback-green: #7fc527;
$qiita-green: #59bb0c;
$evernote-green: #5fb336;
$google-plus-red: #dd4b39;
$pocket-pink: #d3505a;

@import "partials/materialcolors";

$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$brand-primary-text: $blue-dark;
$brand-default-text: #444;
$brand-default-bg: #f9f9fb;
$brand-default-border: #ddd;

$state-warning-text: #c09853;
$state-warning-bg: #fcf8e3;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 3%);
$state-danger-text: #b94a48;
$state-danger-bg: #f2dede;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 3%);
$state-success-text: #468847;
$state-success-bg: #dff0d8;
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%);
$state-info-text: #3a87ad;
$state-info-bg: lighten(#d9edf7, 7%);
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%);

$github-bg: #f9f9fb;
$github-border: #ddd;
$qiita-bg: lighten(desaturate($qiita-green, 20%), 58%);
$qiita-border: darken(adjust-hue($qiita-green, -10), 5%);
$evernote-bg: lighten(desaturate($evernote-green, 20%), 52%);
$evernote-border: darken(adjust-hue($evernote-green, -10), 5%);

$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-ja: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$font-size-large: $font-size-base * 1.25; // ~18px
$font-size-small: $font-size-base * 0.85; // ~12px
$font-size-mini: $font-size-base * 0.75; // ~11px

$line-height-base:        1.7;
$line-height-large:       2.0;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

$site-foreground-color: $gray-darker;
$site-background-color: $white;
$site-neutral-color: $silver;
$site-accent-color: saturate($blue, 10%);
$site-dark-accent-color: lighten($blue-dark, 10%);

$site-link-base-color: $blue;
$site-link-base-over-color: darken($site-link-base-color, 20%);
$site-link-neutral-color: $silver;
$site-link-neutral-over-color: darken($site-link-neutral-color, 20%);
$site-link-accent-color: darken($blue, 20%);
$site-link-accent-over-color: darken($site-link-accent-color, 20%);
$site-link-inverse-color: $silver;
$site-link-inverse-over-color: darken($site-link-inverse-color, 20%);

$site-border-color: $brand-default-border;
$site-border-width: 2px;
$site-border-left-width: 5px;

$form-place-holder-color: $gray;

$navi-background-color: $site-background-color;

$footer-foreground-color: $white;
$footer-background-color: $blue;
$footer-link-color: $md-light-blue-50;
$footer-link-over-color: $md-light-blue-100;

$error-page-background-color: #f5f5f5;
$error-page-background-icon-color: #ddd;

$entry-title-color: $blue-dark;
$site-date-color: #767676;
$entry-date-color: $site-date-color;
$comment-date-color: #767676;

$block-background-color: #f7f9fa;
$block-text-color: #34495e;
$block-border-color: #e9ecef;
$block-border-width: $site-border-width;
$block-border-radius: 6px;
$block-padding: 24px;

$fa-font-path: 'components/fonts/font-awesome';
$generic-font-path: 'fonts';
$entyposocialicon-font-path: 'fonts';

// Media queries breakpoints
//$desktop-max-width: 984px;
//$ipad-max-width: 767px;
//$tablet-max-width: 643px;
//$mobile-max-width: 359px;
//
//$site-max-width: 1600px;
//$site-main-max-width: 980px;
//$site-cotent-max-width: 940px;

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// Grid system
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-float-breakpoint: $screen-sm-min;

$container-mobile: ((360px + $grid-gutter-width));
$container-tablet: ((720px + $grid-gutter-width));
$container-sm: $container-tablet;
$container-desktop: ((900px + $grid-gutter-width));
$container-md: $container-desktop;
$container-large-desktop: ((940px + $grid-gutter-width));
$container-lg: $container-large-desktop;
