@charset "utf-8";

$fa-font-path: 'components/font-awesome/fonts';

// Grays colors
$black: #000;
$gray-darker: #333;
$gray-dark: #7b8a8b;
$gray: #95A5A6;
$gray-light: #b4bcc2;
$gray-lighter: #ECF0F1;
$white: #fff;

// Accent colors
$blue: #2ba6cb;
$blue-dark: #2C3E50;
$blue-light: #1dbbd6;
$turquoise-blue: #01A3B2;
$green: #18BC9C;
$red: #E74C3C;
$yellow: #e6bb0d;
$orange: #F39C12;
$pink: #ff6699;
$pink-love: #ff0084;
$purple: #8E44AD;

// Layout Size ----------------------------

$site-grid-margin: 20px;
$site-grid-margin-small: 10px;

$site-max-container: 1200 - 2*$site-grid-margin;
$site-max-content: 840px;
$site-max-sidebar: 260px;

$site-header-banner-height: 63px;
$site-header-banner-height-small: 48px;
$site-header-nav-height: 48px;
$site-header-nav-height-small: 48px;
$site-header-progress-height: 4px;
$site-header-height: $site-header-banner-height + $site-header-nav-height + $site-header-progress-height;
$site-header-height-small: $site-header-banner-height-small + $site-header-nav-height-small + $site-header-progress-height;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

$site-border-width: 1px;
$site-border-left-width: .6em;

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// ----------------------------

$font-family-sans-serif-ja: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic Pro', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
$font-family-sans-serif: Quicksand, 'Helvetica Neue', Helvetica, $font-family-sans-serif-ja, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Monaco, Menlo, Consolas, 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-family-content: $font-family-sans-serif;

$font-size-base: 17px;
$font-size-small: $font-size-base * 0.85; // ~12px
$font-size-mini: $font-size-base * 0.75; // ~11px

$line-height-base: 1.7;
$line-height-small: 1.5;

$entry-title-font-size: 30px;
$entry-title-small-font-size: 25px;
$entry-content-font-size: 18px;
$entry-list-title-font-size: 25px;
$entry-list-title-small-font-size: 20px;
$entry-list-content-font-size: 18px;
$entry-content-light-height: 1.9;

$entry-h2-font-size: 26px;
$entry-h3-font-size: 23px;
$entry-h4-font-size: 20px;
$entry-h5-font-size: 19px;
$entry-h2-small-font-size: 20px;
$entry-h3-small-font-size: 20px;
$entry-h4-small-font-size: 19px;
$entry-h5-small-font-size: 19px;

$block-shadow: 4px 6px 10px -6px rgba(0, 0, 0, .1);

// Layout color ----------------------------
$site-main-color: pastelen($blue);
$site-accent-color: $blue-light;
$site-clickable-color: darken($blue, 10%);
$site-base-color: #eeeef0;

$site-default-bg: #eeeef0;
$site-default-border: #ddd;
$site-progress-border: $site-accent-color;

$site-default-text: $md-grey-800;
$site-header-text: $md-grey-900;
$site-neutral-color: $md-grey-500;
$site-default-link: darken($site-clickable-color, 10%);
$site-default-link-over: darken($site-default-link, 10%);

$site-component-header-bg: linear-gradient(to right, $blue-light 0%, pastelen($blue) 100%);
$site-component-header-bg-radius: 10px;
$site-component-header-text: $white;
$site-component-content-bg: $white;
$site-component-content-text: $md-grey-800;

$header-bg-color: $white;
$header-banner-color: $blue-dark;
$header-banner-over-color: $site-default-link-over;
$header-nav-link-color: $md-grey-800;
$header-nav-link-over-color: $site-default-link-over;

$footer-default-bg: $md-grey-50;
$footer-default-text: $md-grey-600;
$footer-default-link: $footer-default-text;
$footer-default-link-over: $site-default-link-over;

// Typography color ----------------------------
$entry-title-text: $md-blue-grey-900;
$entry-title-text-over: $site-default-link-over;
$entry-header-border-color: $site-accent-color;
$caption-text: #767676;
$code-default-bg: $md-grey-50;
$blockquote-text: $md-grey-700;

// Parts color ----------------------------

// form
$form-default-border: $md-grey-300;
$form-default-border-over: $md-grey-400;
$form-default-placeholder: $md-grey-300;

// button
$button-contained-bg: $blue;
$button-contained-bg-over: lighten($button-contained-bg, 10%);
$button-contained-text: $white;
$button-contained-disable-bg: $md-grey-200;
$button-contained-disable-text: $md-grey-400;
$button-outlined-bg: transparent;
$button-outlined-bg-over: lighten($blue, 50%);
$button-outlined-border: $md-grey-400;
$button-outlined-border-width: 1px;
$button-outlined-text: $blue;
$button-outlined-disable-border: $md-grey-300;
$button-outlined-disable-text: $md-grey-300;

// state colors
$state-warning-text: #c09853;
$state-warning-bg: #fefaef;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 3%);
$state-danger-text: #b94a48;
$state-danger-bg: #f2dede;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 3%);
$state-success-text: #468847;
$state-success-bg: #dff0d8;
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%);
$state-info-text: #3a87ad;
$state-info-bg: lighten(#d9edf7, 7%);
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%);

// alerts
$alert-padding: $site-grid-margin;
$alert-border-radius: $border-radius-base;
$alert-link-font-weight: bold;
$alert-success-bg: $state-success-bg;
$alert-success-text: $state-success-text;
$alert-success-border: $state-success-border;
$alert-info-bg: $state-info-bg;
$alert-info-text: $state-info-text;
$alert-info-border: $state-info-border;
$alert-warning-bg: $state-warning-bg;
$alert-warning-text: $state-warning-text;
$alert-warning-border: $state-warning-border;
$alert-danger-bg: $state-danger-bg;
$alert-danger-text: $state-danger-text;
$alert-danger-border: $state-danger-border;

$block-default-bg: $white;
$block-default-text: $md-blue-grey-700;
$block-default-icon: $md-blue-grey-400;
$block-default-divider: rgba(0, 0, 0, 0.05);
$block-default-border: rgba(0, 0, 0, 0.1);
$block-border-width: $site-border-width;
$block-border-radius: 6px;
$block-margin: 1.6em;
$block-padding: 1.6em;
