@charset "utf-8";

@import "lib/brandcolors";
@import "lib/materialcolors";
$fa-font-path: 'components/font-awesome/fonts';

// Grays colors
$black: #000;
$gray-darker: #333;
$gray-dark: #7b8a8b;
$gray: #95A5A6;
$gray-light: #b4bcc2;
$gray-lighter: #ECF0F1;
$white: #fff;

// Accent colors
$blue: #2ba6cb;
$blue-dark: #2C3E50;
$blue-light: #1dbbd6;
$turquoise-blue: #01A3B2;
$green: #18BC9C;
$red: #E74C3C;
$yellow: #e6bb0d;
$orange: #F39C12;
$pink: #ff6699;
$pink-love: #ff0084;
$purple: #8E44AD;

// Trends colors
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;
$little-boy-blue: #6CA0DC;
$peter-river: #3498DB;
$belize-hole: #2980B9;
$amethyst: #9B59B6;
$wisteria: #8E44AD;
$mykonos-blue: #005b88;
$monaco-blue: #344c80;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$sailor-blue: #0E3A53;
$sun-flower: #F1C40F;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$salmon-pink: #f3a68c;
$koi: #d25c3f;
$samba: #a82b38;
$vivacious: #a92a5c;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;

// others
$github-orange: #D26911;
$monstersinc-blue: #007CC4;
$heart-red: #BE1931;
$dokugaku-blue: $blue;

// Layout color ----------------------------

$brand-primary: $dokugaku-blue;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$brand-primary-text: $md-grey-800;
$brand-default-text: #444;
$brand-default-bg: #f9f9fb;
$brand-default-border: #ddd;
$brand-invert-text: #fff;
$brand-invert-bg: $md-grey-800;

$state-warning-text: #c09853;
$state-warning-bg: #fefaef;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 3%);
$state-danger-text: #b94a48;
$state-danger-bg: #f2dede;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 3%);
$state-success-text: #468847;
$state-success-bg: #dff0d8;
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%);
$state-info-text: #3a87ad;
$state-info-bg: lighten(#d9edf7, 7%);
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%);

$site-grid-margin: 15px;
$site-grid-margin-small: 10px;
$site-default-bg: $md-grey-100;

// component
$site-component-header-bg: $dokugaku-blue;
$site-component-header-text: $white;
$site-component-content-bg: $white;
$site-component-content-text: $md-grey-900;

$site-default-text: $md-grey-800;
// for h1-h5
$site-header-text: $md-grey-900;
$site-neutral-color: $md-grey-500;
$site-accent-color: $blue-light;
$site-default-border: $brand-default-border;

$site-default-link: $dokugaku-blue;
$site-default-link-over: darken($site-default-link, 10%);
$site-neutral-link: $site-neutral-color;
$site-neutral-link-over: darken($site-neutral-link, 10%);

$navi-default-bg: $site-default-bg;

$header-background-color: $white;
$header-border-color: $md-grey-900;
$header-link-color: $md-grey-900;
$header-link-over-color: $md-grey-900;
$header-accent-color: $dokugaku-blue;
$site-progress-border: $header-accent-color;

$footer-default-text: $md-grey-600;
$footer-default-bg: $md-grey-50;
$footer-default-link: $footer-default-text;
$footer-default-link-over: $site-accent-color;
$footer-border-color: $brand-default-border;

// ----------------------------

$font-family-sans-serif-ja: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic Pro', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
$font-family-sans-serif: Quicksand, 'Helvetica Neue', Helvetica, $font-family-sans-serif-ja, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Monaco, Menlo, Consolas, 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-family-content: $font-family-sans-serif;

$font-size-base: 17px;
$font-size-large: $font-size-base * 1.25; // ~18px
$font-size-small: $font-size-base * 0.85; // ~12px
$font-size-mini: $font-size-base * 0.75; // ~11px

$entry-title-font-size: 36px;
$entry-title-small-font-size: 25px;
$entry-content-font-size: 17px;
$entry-list-title-font-size: 25px;
$entry-list-title-small-font-size: 20px;
$entry-list-content-font-size: 17px;

$entry-h2-font-size: 25px;
$entry-h3-font-size: 20px;
$entry-h4-font-size: 19px;
$entry-h5-font-size: 18px;
$entry-h2-small-font-size: 22px;

$line-height-base: 1.7;
$line-height-large: 2.0;
$line-height-small: 1.5;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

$site-border-width: 1px;
$site-border-left-width: .6em;

// form
$form-default-border: $md-grey-300;
$form-default-border-over: $md-grey-400;
$form-default-placeholder: $md-grey-300;

// button
$button-default-border-width: 1px;
$button-default-text: $md-grey-600;
$button-default-text-over: $md-grey-800;
$button-default-bg: $white;
$button-default-bg-over: $white;
$button-default-border: $form-default-border;
$button-default-border-over: $form-default-border-over;
$button-disable-text:  $md-grey-200;
$button-disable-border: $md-grey-100;

// error
$errorpage-bg: #f5f5f5;
$errorpage-bg-icon: #ddd;

// alerts
$alert-padding:               15px;
$alert-border-radius:         $border-radius-base;
$alert-link-font-weight:      bold;
$alert-success-bg:            $state-success-bg;
$alert-success-text:          $state-success-text;
$alert-success-border:        $state-success-border;
$alert-info-bg:               $state-info-bg;
$alert-info-text:             $state-info-text;
$alert-info-border:           $state-info-border;
$alert-warning-bg:            $state-warning-bg;
$alert-warning-text:          $state-warning-text;
$alert-warning-border:        $state-warning-border;
$alert-danger-bg:             $state-danger-bg;
$alert-danger-text:           $state-danger-text;
$alert-danger-border:         $state-danger-border;

// code
$code-default-bg: $md-grey-50;

// misc
$site-logo-text: $md-blue-grey-900;
$site-logo-text-over: $site-default-link-over;
$entry-title-text: $md-blue-grey-900;
$entry-title-text-over: $site-default-link-over;
$caption-text: #767676;

$block-default-bg: $white;
$block-default-text: $md-blue-grey-700;
$block-default-icon: $md-blue-grey-400;
$block-default-divider: rgba(0,0,0,0.05);
$block-default-border: rgba(0,0,0,0.1);
$block-border-width: $site-border-width;
$block-border-radius: 6px;
$block-margin: 1.6em;
$block-padding: 1.6em;
$block-quote-text: $md-grey-700;

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$site-max-container: 1200px;
$site-max-sidebar: 250px;