@import "lib/colors/trendcolors";
@import "lib/colors/brandcolors";
@import "lib/colors/materialcolors";
@import "lib/mixins/utils";
@import "lib/mixins/responsive";
@import "lib/func/color";
@import "variables";

.amazonjs_item {
//  @include block-white($blockBorderRadius);
  border-color: $block-default-border;
  border-width: 1px;
  box-shadow: $block-shadow;
  padding: $site-grid-margin 0 $site-grid-margin*1.5;

  @include smaller-than-tablet-screen {
    padding: $site-grid-margin-small 0 $site-grid-margin-small*1.5;
  }

  .amazonjs_image {
    img {
      box-shadow: none;
      border: none;
    }
  }

  .amazonjs_info {
    h4 {
      font-size: 1.2em;
      font-weight: normal;
      text-shadow: none;
    }

    ul {
      li {
        font-size: 1em;
      }
    }
  }

  .amazonjs_review {
    font-size: .9em;
  }
}