@import "variables";
@import "mixins";

.amazonjs_item {
//  @include block-white($blockBorderRadius);
  border-color: lighten(desaturate($amazon-orange, 20%), 40%);
  border-width: 0;

  .amazonjs_image {
    img {
      @include box-shadow(none);
      border: none;
    }
  }

  .amazonjs_info {
    h4 {
      font-size: 1.2em;
      font-weight: normal;
      text-shadow: none;
    }

    ul {
      li {
        font-size: 1em;
      }
    }
  }

  .amazonjs_review {
    font-size: .9em;
  }
}

@media (min-width: $screen-sm-min) {
}