
@import "variables";

.site {
  padding: 10px;
}
.site-header {
  .searchform {
    position: static;
  }
}

.comment-body {

  .comment-author {
    min-width: 60px;
  }
  .comment-metadata,
  .comment-awaiting-moderation,
  .comment-content,
  .reply {
    float: none;
    width: 90%;
  }
}

// Internet Explorer 8
.ie8 {
  .navigation-paging {
    .nav-previous {
      .meta-nav {
        padding: 5px 0 8px;
        width: 40px;
      }
    }
    .nav-next {
      line-height: 1;
    }
  }
}


// Internet Explorer 7
.ie7 {
  .screen-reader-text {
    clip: rect(1px 1px 1px 1px);
  }

  .entry-header {
    position: static;
    .entry-date {
      position: static;
    }
  }

  .navigation-paging {
    .nav-previous {
      .meta-nav {
        padding: 0 0 10px;
        vertical-align: middle;
        width: 40px;
      }
    }
    .nav-next {
      line-height: 1;
    }
  }

}