@use 'abstracts' as *;
%btn {
  margin: 0 var(--space-3) 0 0;
  display: inline-block;
  float: left;
  border-radius: var(--radius-sm);
  line-height: 1;
  text-decoration: none;
  padding: var(--space-3) var(--space-4) var(--space-3) var(--space-4);
  font-weight: var(--global--font-weight-strong);

  .icon {
    color: var(--color-icon-muted);
  }
}

.btn-contained {

  @extend %btn;

  background-color: $button-contained-bg;
  color: $button-contained-text;

  &:hover {
    background-color: $button-contained-bg-over;
    color: $button-contained-text;
    text-decoration: none;
  }

  &.btn-disabled {
    background-color: $button-contained-disable-bg;
    color: $button-contained-disable-text;

    &:hover {
      background-color: $button-contained-disable-bg;
      color: $button-contained-disable-text;
    }
  }
}

.btn-text,
.btn-outlined {

  @extend %btn;
  background-color: $button-outlined-bg;
  color: $button-outlined-text;

  &:hover {
    background-color: $button-outlined-bg-over;
    color: $button-outlined-text;
    text-decoration: none;
  }

  &.btn-disabled {
    border-color: $button-outlined-disable-border;
    color: $button-outlined-disable-text;

    &:hover {
      background-color: $button-outlined-bg;
      border-color: $button-outlined-disable-border;
      color: $button-outlined-disable-text;
    }
  }
}

.btn-text {
  border: none;
}

.btn-outlined {
  border: $button-outlined-border-width solid $button-outlined-border;
}
