@use 'abstracts' as *;

.list-categories {
  list-style: none;
  margin: 0;
  padding: 0;

  .cat-item {
    margin: var(--space-1) 0 0 0;

    svg {
      min-width: 1.5em;
    }

    a {
    }

    > .cat-item-entry-count {
      display: inline-block;
      background-color: $site-badge-color;
      color: $site-on-badge-text-color;
      border-radius: 50%;
      text-align: center;
      font-weight: var(--global--font-weight-strong);
      min-height: 30px;
      min-width: 30px;
      line-height: 30px;
      margin: 0 var(--space-3);
    }
  }

  .children {
    //display: inline;
    list-style: none;
    //padding: 0;
  }
}
