@use 'abstracts' as *;

.pagination-single-inner {
  flex-direction: row;
  justify-content: space-between;
}

.pagination-single.only-next .pagination-single-inner {
  justify-content: flex-end;
}

.pagination-single {
  margin-top: var(--space-5);

  &.only-next {

    .pagination-single-inner {
      justify-content: flex-end;
    }
  }

  .pagination-single-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      flex: 1;
      font-weight: var(--global--font-weight-strong);
      color: $site-default-text;

      &.previous-post {

        .arrow {
          margin-right: var(--space-3);
        }
      }

      &.next-post {
        flex-direction: row-reverse;
        text-align: right;

        .arrow {
          margin-left: var(--space-3);
        }
      }

      &:hover {
        color: $site-default-text;
        text-decoration: none;

        .title {
          text-decoration: underline;
        }
      }
    }
  }

  @include smaller-than-mobile-screen {
    font-size: var(--global--font-size-xs);

    .pagination-single-inner {
      flex-direction: column;

      a {

        &.next-post {
          flex-direction: row;
          text-align: left;

          .arrow {
            margin-left: 0;
            margin-right: var(--space-3);
          }
        }
      }

      a + a {
        margin-top: var(--space-3);
      }
    }
  }
}
