$amazon-orange: #e47911;
$twitter-blue: #55acee;
$facebook-blue: #3b5998;
$line-green: #20c962;
$hatena-bookmark-blue: #5279e7;
$qiita-green: #59bb0c;
$evernote-green: #5fb336;
$pocket-pink: #d3505a;
$github-orange: #D26911;
$monstersinc-blue: #007CC4;
