.tmp

### app Config ###
/config.php

### app Build ###
/assets/*.js
/assets/*.css
/assets/fonts/*
/amazonjs.css
*.js.map
*.css.map

### Node ###
node_modules

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
.idea/
