/config.php

### Javascript ###
*.js.map

### Sass ###
.sass-cache
*.css.map

### Node ###
node_modules

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
.idea/

### php ###

### Composer ###
composer.phar
vendor/
!js/vendor/