/* line 4, sass/amazonjs.scss */
.amazonjs_item {
  border: 2px solid #ecf0f1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 24px;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #f5e0cc;
}
/* line 9, sass/amazonjs.scss */
.amazonjs_item .amazonjs_indicator,
.amazonjs_item a {
  color: #e47911;
}
/* line 14, sass/amazonjs.scss */
.amazonjs_item .amazonjs_image img {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
/* line 21, sass/amazonjs.scss */
.amazonjs_item .amazonjs_info h4 {
  font-size: 1.2em;
  font-weight: normal;
  text-shadow: none;
}
/* line 28, sass/amazonjs.scss */
.amazonjs_item .amazonjs_info ul li {
  font-size: 1em;
}
/* line 34, sass/amazonjs.scss */
.amazonjs_item .amazonjs_review {
  font-size: .9em;
}

@media (max-width: 359px) {
  /* line 41, sass/amazonjs.scss */
  .amazonjs_item {
    padding: 6px 6px 24px 6px;
  }
  /* line 44, sass/amazonjs.scss */
  .amazonjs_item .amazonjs_info {
    padding-left: 0;
    margin-left: 0 !important;
  }
}
