<?php
/**
 * @package makotokw
 */
define( 'WP_THEME_DEBUG', ARCADIA_WP_DEBUG === true );
define( 'WP_THEME_PRODUCTION_URL', 'https://example.com' );
define( 'WP_THEME_GOOGLE_ANALYTICS_ACCOUNT', 'UA-xxxxxx-1' );
define( 'WP_THEME_GOOGLE_ANALYTICS_DOMAIN', 'example.com' );
define( 'WP_THEME_AUTHOR_TWITTER', 'username' );
define( 'WP_THEME_AUTHOR_GITHUB', 'username' );
define( 'WP_THEME_EXCLUDE_CATEGORY', '' );
define( 'WP_THEME_MEMO_POST_ID', -1 );
define( 'WP_THEME_FEATURED_TAG', 'slug1,slug2' );
define( 'WP_THEME_OGP', true );
define( 'WP_THEME_OGP_LOCALE', 'ja_JP' );
define( 'WP_THEME_OGP_FB_APPID', 'xxxxxxxx' );
define( 'WP_THEME_OGP_FB_ADMINS', 'username' );
define( 'WP_THEME_COUNT_API', '' );
