.site {
  padding: 10px;
}

.site-header .searchform {
  position: static;
}

.comment-body .comment-author {
  min-width: 60px;
}
.comment-body .comment-metadata,
.comment-body .comment-awaiting-moderation,
.comment-body .comment-content,
.comment-body .reply {
  float: none;
  width: 90%;
}

.ie8 .navigation-paging .nav-previous .meta-nav {
  padding: 5px 0 8px;
  width: 40px;
}
.ie8 .navigation-paging .nav-next {
  line-height: 1;
}

.ie7 .screen-reader-text {
  clip: rect(1px 1px 1px 1px);
}
.ie7 .entry-header {
  position: static;
}
.ie7 .entry-header .entry-date {
  position: static;
}
.ie7 .navigation-paging .nav-previous .meta-nav {
  padding: 0 0 10px;
  vertical-align: middle;
  width: 40px;
}
.ie7 .navigation-paging .nav-next {
  line-height: 1;
}
