/* = Note styling
-------------------------------------------------------------- */

/*
<div class="note">note</div>
<div class="note-ins">note-ins</div>
<div class="note-link">note-link</div>
<div class="note-comment">note-comment</div>
<div class="enclosure">enclosure</div>
<div class="enclosure-github">enclosure-github</div>
<div class="enclosure-qiita">enclosure-qiita</div>
<div class="enclosure-evernote">enclosure-evernote</div>
*/

%base-note {
  display: block;
  margin: 0 0 4rem 0;
  padding: 2rem;
  border: 1px solid $site-default-border;

  a {
    font-weight: 600;
  }
}

%note-with-svg {
  position: relative;
  padding: 2rem 2rem 2rem 6rem;

  svg {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 2em !important;
    height: 2em !important;
    color: $site-default-border;
  }
  @include smaller-than-tablet-screen {
    padding: 1.5rem 1.5rem 1.5rem 5rem;
    svg {
      top: 1.5rem;
      left: 1rem;
    }
  }
}

.note {
  @extend %base-note;
}

.note-ins {
  @extend .note;
  color: $state-warning-text;
  border: none;
  text-decoration: none;
  background-color: $state-warning-bg;
}

.note-link,
.note-comment {
  @extend .note;
  @extend %note-with-svg;
}

.enclosure {
  @extend %base-note;
  @extend %note-with-svg;
}
.enclosure-github,
.enclosure-qiita,
.enclosure-evernote {
  @extend .enclosure;
}
