@mixin circle($size) {
  padding: 0;
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  border-radius: 9999px;

  font-size: $size * 0.5;
  svg {
    width: $size * 0.5;
    height: $size * 0.5;
  }
}

@mixin sentence-block() {
  display: block;
  padding: var(--global--spacing-vertical) var(--global--spacing-horizontal);
  line-height: 1.5;
  word-break:break-all;
  word-wrap: break-word;
  overflow-wrap : break-word;
  hyphens: auto;

  p {
    line-height: 1.95;
  }
  blockquote {
    p {
      line-height: 1.5;
    }
  }
}

@mixin block-white ($borderRadius) {
  border: $site-border-width solid $site-default-border;
  border-radius: $borderRadius;
  padding: $block-padding;
  background-color: $site-surface-color;
  box-shadow: none;
}

@mixin clearfix() {
  *zoom:1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}


