// Trends colors
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;
$little-boy-blue: #6CA0DC;
$peter-river: #3498DB;
$belize-hole: #2980B9;
$amethyst: #9B59B6;
$wisteria: #8E44AD;
$mykonos-blue: #005b88;
$monaco-blue: #344c80;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$sailor-blue: #0E3A53;
$sun-flower: #F1C40F;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$salmon-pink: #f3a68c;
$koi: #d25c3f;
$samba: #a82b38;
$vivacious: #a92a5c;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;