// Archive Page and Search Result Page
body.archive, body.search {
  .site-content-header {
    text-align: center;
    .archives-title {
      margin: $site-grid-margin 0;
    }

    padding-bottom: $site-grid-margin;
    margin-bottom: $site-grid-margin;
    border-bottom: $site-border-width solid $site-default-border;
  }
  .pagination {
  }
}