$site-author-image-base: 100px;
$site-author-image-small: 75px;

.site-author {
  display: flex;
  flex-direction: column;
  padding: 8px;
  .site-author-img {
    flex: 0 1 $site-author-image-base;
    align-self: center;
    width: $site-author-image-base;
    height: $site-author-image-base;
    border-radius: $site-author-image-base;
  }
  .site-author-img {
    margin-top: 16px;
    flex: 0 1 $site-author-image-small;
    width: $site-author-image-small;
    height: $site-author-image-small;
    border-radius: $site-author-image-small;
  }
  .site-author-profile {
    flex: 1 1 auto;
    padding-left: 16px;
  }
}