
/* =Breadcrumb
----------------------------------------------- */
.breadcrumb {
  display: block;
  text-align: center;
  color: $site-neutral-color;
  font-weight: 700;

  .archive &,
  .search & {
    margin-bottom: $site-grid-margin;
  }

  a {
    color: $site-neutral-color;
    &:hover {
      color: $site-default-link-over;
    }
  }
  .breadcrumb-last {
    font-weight: 700;
  }
}

