.btn {
  margin: 0 10px 0 0;
  display: inline-block;
  float: left;
  line-height: 1;
  text-decoration: none;
  padding: 12px 15px 12px 16px;
  font-weight: bold;
  font-size: $font-size-base;

  .icon {
    color: rgba(0,0,0,0.44);
  }
}

.btn-contained {
  border-radius: 6px;
  background-color: $button-contained-bg;
  color: $button-contained-text;
  &:hover {
    background-color: $button-contained-bg-over;
    color: $button-contained-text;
  }
  &.btn-disabled {
    background-color: $button-contained-disable-bg;
    color: $button-contained-disable-text;
    &:hover {
      background-color: $button-contained-disable-bg;
      color: $button-contained-disable-text;
    }
  }
}

.btn-outlined {
  border-radius: 6px;
  background-color: $button-outlined-bg;
  border: $button-outlined-border-width solid $button-outlined-border;
  color: $button-outlined-text;
  &:hover {
    background-color: $button-outlined-bg-over;
    color: $button-outlined-text;
  }
  &.btn-disabled {
    border-color: $button-outlined-disable-border;
    color: $button-outlined-disable-text;
    &:hover {
      background-color: $button-outlined-bg;
      border-color: $button-outlined-disable-border;
      color: $button-outlined-disable-text;
    }
  }
}

.btn-circle {
  @include circle(38px);

  @include smaller-than-tablet-screen {
    @include circle(30px);
  }

  .icon {
    line-height: 100%;
  }
  .icon-default {
    &:before {
      margin-right: 8px;
      font-size: 16px;
      line-height: 0;
      position: relative;
      top: 1px;
      @include smaller-than-tablet-screen {
        margin-right: 6px;
        font-size: 14px;
      }
    }
  }
}

