.site-footer {
  background: $footer-default-bg;
  padding: $site-grid-margin;
  color: $footer-default-text;
  a {
    color: $footer-default-link;
    &:hover {
      color: $footer-default-link-over;
    }
  }

  @include smaller-than-tablet-screen {
    padding: $site-grid-margin-small;
  }
}

.site-footer-content {
  max-width: $site-max-container;
  margin: 0 auto;
  text-align: center;

  .site-footer-nav {
    font-size: 18px;
    font-weight: bold;
  }

  .site-footer-help-nav {
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline;
        margin: 0 4px;
        font-weight: bold;
      }
    }
  }
  .credit {
    .fa-heart {
      margin: 0 2px;
      font-size: .5em;
      color: $md-pink-100;
    }
    .fa-github-alt {
      margin: 0 2px;
    }
  }
  @include smaller-than-mobile-screen {
    .poweredby {
      display: block;
    }
  }
}

#wpstats {
  display: block;
  margin: -10px auto 0;
}
