.site-footer {
  background: $footer-default-bg;
  padding: 4.3rem;
  color: $footer-default-text;
  a {
    color: $footer-default-link;
    &:hover {
      color: $footer-default-link-over;
    }
  }

  .footer-navs {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2rem;
    .site-footer-help-nav {
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline;
          margin: 0 4px;
          font-weight: bold;
        }
      }
    }
  }

  .footer-credits {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .copyright {
      font-weight: 700;
    }
    .powered-by {
      font-weight: 300;
    }
    .fa-heart {
      margin: 0 2px;
      font-size: .5em;
      color: $md-pink-100;
    }
    .fa-github-alt {
      margin: 0 2px;
    }
  }

  @include smaller-than-tablet-screen {
    padding: 3rem 0;
    .footer-credits {
      display: block;
    }
  }

}

#wpstats {
  display: block;
  margin: -10px auto 0;
}
