.site-footer {
  background: $footer-default-bg;
  padding: 4.3rem;
  color: $footer-default-text;
  a {
    color: $footer-default-link;
    &:hover {
      color: $footer-default-link-over;
    }
  }

  .footer-navs {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2rem;
    .site-footer-help-nav {
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline;
          margin: 0 4px;
          font-weight: bold;
        }
      }
    }
  }

  .footer-credits {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .copyright {
      font-weight: 700;
    }
    .powered-by {
      font-weight: 300;
    }
    .fa-heart {
      margin: 0 2px;
      font-size: .5em;
      color: $md-pink-100;
    }
    .fa-github-alt {
      margin: 0 2px;
    }
  }

  .to-the-top {
    @include circle(40px);
    position: fixed;
    right: $site-grid-margin/2;
    bottom: $site-grid-margin/2;
    background-color: $site-primary-color;

    i {
      color: $site-on-primary-text-color;
    }
    &.headroom--top {
      transform: translateY(200%);
    }
    &.headroom--pinned.headroom--not-top {
      transform: translateY(0%);
    }
    &.headroom--unpinned.headroom--not-bottom {
      transform: translateY(200%);
    }
  }


  @include smaller-than-tablet-screen {
    padding: 3rem 0;
    .footer-credits {
      display: block;
    }
  }
}

#wpstats {
  display: block;
  margin: -10px auto 0;
}
