// Placeholder text color -- selectors need to be in separate to work.
::-webkit-input-placeholder {
  color: $form-default-placeholder;
  font-style: normal;
}

:-moz-placeholder {
  color: $form-default-placeholder;
}

::-moz-placeholder {
  color: $form-default-placeholder;
}

:-ms-input-placeholder {
  color: $form-default-placeholder;
}


textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 7px 0 7px 6px;
  border: $site-border-width solid $form-default-border;
  text-indent: 1px;
  border-radius: $site-border-radius;
  box-shadow: none;

  &:focus {
    border-color: $form-default-border-over;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    box-shadow: none;
  }
}
