$site-logo-image-width: 190px;
$site-logo-image-height: 40px;
$site-logo-height: 28px;
$site-logo-height-small: 18px;

.site-header {
  &.headroom--pinned {
    transform: translateY(0%);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.10);
  }
  &.headroom--unpinned {
    transform: translateY(-96%);
  }
  &.headroom--not-top {
    background: rgba($header-default-bg, 0.95);
    .site-header-banner {
      display: none;
    }
  }
}

.site-header {
  background: $header-default-bg;
  color: $header-default-text;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  transition-duration: .5s;
  will-change: transform;
  transition: transform .2s linear;
  a {
    color: $header-default-link;
    &:hover {
      color: $header-default-link-over;
    }
  }

  .site-header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 168rem;
    width: calc(100% - 6rem);
    padding: $site-header-margin 0;
    height: $site-header-banner-height;
    max-height: $site-header-banner-height;
  }
  @include smaller-than-tablet-screen {
    .site-header-inner {
      width: calc(100% - 4rem);
      padding: $site-header-margin-small 0;
      height: $site-header-banner-height-small;
      max-height: $site-header-banner-height-small;
    }
  }
}

.site-header-titles {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  line-height: 1;

  .site-header-logo-svg {
    fill: $header-banner-link;
    width: $site-logo-image-width * ($site-logo-height / $site-logo-image-height);
    height: $site-logo-height;
  }
  &:hover {
    .site-header-logo-svg {
      fill: $header-banner-link-over;
    }
  }

  .site-header-description {
    color: $site-neutral-text;
    margin: 0 0 0 2.5rem;
    font-size: 16px;
  }

  @include smaller-than-tablet-screen {
    display: block;
    .site-header-logo-svg {
      width: $site-logo-image-width * ($site-logo-height-small / $site-logo-image-height);
      height: $site-logo-height-small;
    }
    .site-header-description {
      margin: .1rem 0 0 0;
      font-size: 12px;
    }
  }
}

.site-header-nav {
  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
  }
}

.site-progress {
  position: absolute;
  height: $site-header-progress-height;
  right: 0;
  bottom: -1px;
  left: 0;
}

.menu-overlay {
  position: fixed;
  left: 0;
  top: $site-header-height;
  right: 0;
  bottom: 0;
  background-color: $site-surface-color;
  overflow-y: auto;
  z-index: 20;

  transition: all 0.3s ease-out;
  opacity: 1;
  visibility: visible;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .menu-overlay-inner {
  }

  .list-categories {
    margin: 0;
    .cat-item {
      margin: 0;
      line-height: 1;
      padding: .75rem 1rem;
      border-bottom: $site-border-width solid $site-default-border;
      .cat-item {
        border-bottom: none;
      }
    }

    a {
      color: $site-default-text;
    }
  }

  @include smaller-than-tablet-screen {
    top: $site-header-height-small;
  }

}
