$site-logo-image-width: 190px;
$site-logo-image-height: 40px;
$site-logo-height: 28px;
$site-logo-height-small: 20px;

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-96%);
}

.headroom--not-top {
  &.site-header {
    background: rgba($header-bg-color, 0.95);
  }
  .site-header-banner {
    display: none;
  }
}

.headroom--not-bottom {
}

.site-header-banner {
  height: $site-header-banner-height;
  max-height: $site-header-banner-height;
  line-height: $site-header-banner-height;
  @include smaller-than-tablet-screen {
    height: $site-header-banner-height-small;
    max-height: $site-header-banner-height-small;
    line-height: $site-header-banner-height-small;
  }
}
.site-header-nav {
  height: $site-header-nav-height;
  max-height: $site-header-nav-height;
  padding: 0 $site-grid-margin*2;
  @include smaller-than-tablet-screen {
    height: $site-header-nav-height-small;
    max-height: $site-header-nav-height-small;
    padding: 0 $site-grid-margin-small;
  }
  //@include smaller-than-tablet-screen {
  //  padding: 0 $site-grid-margin-small/2;
  //}
}

.site-header {
  background: $header-bg-color;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  transition-duration: .5s;
  will-change: transform;
  transition: transform 200ms linear;
  a {
    color: $header-nav-link-color;
    &:hover {
      color: $header-nav-link-over-color;
    }
  }
}

.site-header-banner {
  text-align: center;
}

.site-header-logo {
  .site-header-logo-svg {
    fill: $header-banner-color;
    margin-top: ($site-header-banner-height - $site-logo-height) / 2;
    width: $site-logo-image-width * ($site-logo-height / $site-logo-image-height);
    height: $site-logo-height;
    @include smaller-than-tablet-screen {
      margin-top: ($site-header-banner-height-small - $site-logo-height-small) / 2;
      width: $site-logo-image-width * ($site-logo-height-small / $site-logo-image-height);
      height: $site-logo-height-small;
    }
  }
  &:hover {
    .site-header-logo-svg {
      fill: $header-banner-over-color;
    }
  }
}

// text-logo
.has-no-svg {
  .site-header-logo-text {
    font-weight: bold;
    display: block !important;
  }
  .site-header-logo-svg {
    display: none !important;
  }
}

.site-header-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  .site-header-nav-item1 {
    flex: 0 1 auto;
    text-align: left;
  }
  .site-header-nav-item2 {
    flex: 1 0 auto;
    text-align: center;
    font-weight: 700;
    a {
      margin: 0 $site-grid-margin;
    }
    @include smaller-than-tablet-screen {
      a {
        margin: 0 $site-grid-margin-small/2;
      }
    }
  }
  .site-header-nav-item3 {
    flex: 0 1 auto;
    @include smaller-than-tablet-screen {
      display: none;
    }
  }

  .search-form {
    .search-form-text {
      border: none;
      display: none;
      @include smaller-than-tablet-screen {
        width: 160px;
      }
    }
    &.is-active {
      .search-form-text {
        display: inline-block;
        padding: 3px 6px;
        margin-right: 10px;
      }
      .search-form-trigger {
        .fa-search {
          display: none;
        }
        .fa-times {
          display: inline-block !important;
        }
      }
    }
  }
}

.site-progress {
  position: absolute;
  height: $site-header-progress-height;
  right: 0;
  bottom: -1px;
  left: 0;
}
