$site-logo-image-width: 190px;
$site-logo-image-height: 40px;
$site-logo-height: 28px;
$site-logo-height-small: 20px;

.site-header {
  &.headroom--pinned {
    transform: translateY(0%);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.10);
  }
  &.headroom--unpinned {
    transform: translateY(-96%);
  }
  &.headroom--not-top {
    background: rgba($header-default-bg, 0.95);
    .site-header-banner {
      display: none;
    }
  }
}

.site-header {
  border-width: $site-header-border-top 0 0;
  border-top-style: solid;
  border-image: linear-gradient(139deg, $site-primary-color, darken($site-primary-color, 20%), $md-pink-700, $md-pink-400) 3;

  background: $header-default-bg;
  color: $header-default-text;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  transition-duration: .5s;
  will-change: transform;
  transition: transform 200ms linear;
  a {
    color: $header-default-link;
    &:hover {
      color: $header-default-link-over;
    }
  }

  .site-header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 168rem;
    width: calc(100% - 6rem);
    padding: $site-header-margin 0;
    height: $site-header-banner-height;
    max-height: $site-header-banner-height;
    @include smaller-than-tablet-screen {
      width: calc(100% - 4rem);
      padding: $site-header-margin-small 0;
      height: $site-header-banner-height-small;
      max-height: $site-header-banner-height-small;
    }
  }
}



.site-header-titles {
  line-height: 1;
}
.site-header-nav {
}

.site-header-titles {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;

  .site-header-logo-svg {
    fill: $header-banner-link;
    width: $site-logo-image-width * ($site-logo-height / $site-logo-image-height);
    height: $site-logo-height;
  }
  &:hover {
    .site-header-logo-svg {
      fill: $header-banner-link-over;
    }
  }

  .site-header-description {
    color: $site-neutral-text;
    margin: 0 0 0 2.5rem;
    font-size: 1.6rem;
  }

  @include smaller-than-tablet-screen {
    display: block;
    .site-header-logo-svg {
      //margin-top: ($site-header-banner-height-small - $site-logo-height-small) / 2;
      width: $site-logo-image-width * ($site-logo-height-small / $site-logo-image-height);
      height: $site-logo-height-small;
    }
    .site-header-description {
      margin: .5rem 0 0 0;
      font-size: 1.4rem;
    }
  }
}

.site-header-nav {
  .toggle {
    align-items: center;
    display: flex;
  }
}

.site-progress {
  position: absolute;
  height: $site-header-progress-height;
  right: 0;
  bottom: -1px;
  left: 0;
}
