// Layout
// -----------------------------------------------

 //.site-header
 //.site-main
 //  ├── .site-content
 //  └── .site-sidebar
 //.site-footer

.section-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  width: calc(100% - 8rem);
}

.site-main {
  max-width: $site-max-container;
  margin: $site-header-height auto 0 auto; // for sticky header
  padding: $site-grid-margin;  // margin for children
}

.site-content {
  position: relative;
  margin: 0 auto;
  padding: 0 $site-grid-margin 0 0; // margin for sidebar
  overflow: hidden;
}

.site-sidebar {
  margin: 0 auto;
  padding: 0;
  display: none;
}

.site-footer {
}

@include smaller-than-desktop-screen {
  .site-main {
  }
  .site-content {
    padding: 0;
  }
  .site-sidebar {
  }
}

@include smaller-than-tablet-screen {
  .section-inner {
    width: calc(100% - 4rem);
  }
}

@include smaller-than-mobile-screen {
  .site-main {
    padding: $site-grid-margin-small;
  }
}