// Layout
// -----------------------------------------------

 //.site-header
 //.site-main
 //     .site-content
 //     .site-sidebar
 //#footerMargin
 //.site-footer

.site-main {
  display: flex;
  flex-direction: row;
  max-width: $site-max-container;
  // for sticky header
  margin: $site-header-height auto 0 auto;
  // margin for children
  padding: $site-grid-margin;
}

.site-content {
  position: relative;
  margin: 0 auto;
  // margin for sidebar
  padding: 0 $site-grid-margin 0 0;
  overflow: hidden;
}

.site-sidebar {
  flex: 0 0 $site-max-sidebar;
  margin: 0 auto;
  padding: 0;
}

@include smaller-than-desktop-screen {
  .site-main {
    flex-direction: column;
  }
  .site-content {
    padding: 0;
  }
  .site-sidebar {
  }
}
@include smaller-than-tablet-screen {
  .site-main {
    // for sticky small header
    margin: $site-header-height-small auto 0;
    padding: $site-grid-margin-small;
  }
}
@include smaller-than-mobile-screen {
  .site-main {
    padding: 0;
  }
}