// for no-results.php and 404.php
.no-results {
  .page-title {
    font-size: $entry-title-font-size;
    margin: 0;
    position: relative;
    padding: 50px 0;
    text-align: center;
    box-sizing : border-box;
    @include smaller-than-tablet-screen {
      font-size: $entry-list-title-font-size;
      padding: 15px 0;
    }
  }
  p {
    text-align: center;
  }
  .search-form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    .search-form-text {
      font-size: $font-size-base;
    }
  }
}