/* = Note styling
-------------------------------------------------------------- */

/*
<div class="note">note</div>
<div class="note-ins">note-ins</div>
<div class="note-link">note-link</div>
<div class="note-comment">note-comment</div>
<div class="enclosure">enclosure</div>
<div class="enclosure-github">enclosure-github</div>
<div class="enclosure-qiita">enclosure-qiita</div>
<div class="enclosure-evernote">enclosure-evernote</div>
*/

%base-note {
  display: block;
  margin: $block-margin 0;
  padding: $block-padding;
  background-color: $block-default-bg;
  color: $block-default-text;
  border: 2px solid $site-primary-color;
  border-left: $site-border-left-width solid $site-primary-color;

  svg {
    float: left;
    width: $font-size-base * 2 !important;
    height: $font-size-base * 2 !important;
    margin-right: 10px;
    color: $site-primary-color;
  }

  &:after {
    clear: both;
  }
}

.note {
  @extend %base-note;
}

.note-ins {
  @extend .note;
  color: $state-warning-text;
  border: none;
  background-color: $state-warning-bg;
}

.note-link,
.note-comment {
  @extend .note;
}

.enclosure {
  @extend %base-note;
}
.enclosure-github,
.enclosure-qiita,
.enclosure-evernote {
  @extend .enclosure;
}
