
%pagenation-page {
  @extend .btn;
  @extend .btn-outlined;
  @include circle(40px);
  @include smaller-than-tablet-screen {
    @include circle(30px);
  }
}

.pagination {
  display: block;
  @include clearfix;
  padding: $site-grid-margin 0;

  ul {
    display: flex;
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;

    li {
      margin: 0 .5rem;
    }

    .current {
      .page {
        @extend %pagenation-page;
        border-color: $site-primary-color;
        background: $site-primary-color;
        color: $site-on-primary-text-color;
        &:hover {
          border-color: $site-primary-color;
          background: $site-primary-color;
          color: $site-on-primary-text-color;
        }
      }
    }
  }

  a {
    @extend %pagenation-page;
  }
}