// Header
// -----------------------------------------------

.entry-header {
  position: relative;

  .entry-title {
    font-weight: 800;
    color: $entry-title-text;
    margin: 0;

    a {
      color: $entry-title-text;
      &:hover {
        color: $entry-title-text-over;
        text-decoration: $entry-title-text-decoration-over;
      }
    }
  }

  .entry-meta-primary {
    font-size: 1.6rem;
    color: $site-neutral-text;
    margin-bottom: 1.5rem;
    .tag-links {
      text-transform: uppercase;
      a {
        color: $site-neutral-text;
        &:hover {
          color: $site-default-link-over;
        }
      }
    }
  }

  .entry-meta-secondary {
    font-size: 1.4rem;
    color: $site-neutral-text;
    .tag-links {
      text-transform: capitalize;
      a {
        color: $site-neutral-text;

        &:hover {
          color: $site-default-link-over;
        }
      }
    }
  }

  // centering title on single
  .single &, .page & {
    .entry-meta-primary,
    .entry-title,
    .entry-meta-secondary {
      text-align: center;
    }
    .entry-meta-primary {
      margin-bottom: 3rem;
    }
    .entry-title {
      font-size: 5rem;
    }
    .entry-meta-secondary {
      .tag-links > * {
        margin-top: 3rem;
      }
    }
  }

  .post-summary & {
    display: flex;

    .entry-title {
      font-size: 2rem;
    }

    .entry-feature-image {
      max-width: 150px;
      max-height: 100px;
      overflow-y: hidden;
      margin-right: $site-grid-margin/2;

      img {
        width: 100%;
        height: auto;
      }
    }

    &:focus, &:hover {
      .entry-feature-image {
        transform: scale(1.05);
        transition: 0.3s ease-in-out;
      }
    }
  }

  @include smaller-than-tablet-screen {
    .single &, .page & {
      .entry-title {
        font-size: 3rem;
      }
    }
  }
}

// Content
// -----------------------------------------------

.entry-content {
  @include sentence-block();

  & > * {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    padding-bottom: .75rem;
    border-bottom: $site-border-width solid $site-default-border;
  }

  cite,
  figcaption,
  .wp-caption-text {
    font-weight: 400;
  }
  img {
    display: block;
    margin: 4rem auto;
  }
  figure {
    margin: 4rem auto;
    img {
      margin: 0 auto;
    }
    figcaption {
      margin-top: .5em;
      color: $md-grey-700;
      text-align: center;
    }
  }

  @include smaller-than-tablet-screen {
    img {
      margin: 3rem auto;
    }
    figure {
      margin: 3rem auto;
      img {
        margin: 0 auto;
      }
    }
  }

  @include smaller-than-desktop-screen {
    // Collapse oversized image and pulled images after iPad breakpoint.
    img.alignleft,
    .wp-caption.alignleft {
      margin-left: 0;
    }
    img.alignright,
    .wp-caption.alignright {
      margin-right: 0;
    }
  }
  @include smaller-than-tablet-screen {
    .align-right {
      float: none;
    }
  }
}

.entry-header,
.entry-content,
.entry-footer {
  @include clearfix;
}

.btn-more-link {
  @extend .btn-text;
  float: right;
  margin-top: 1rem;
}

// hide
.entry-author {
  display: none;
}

// Sticky (Featured) Content
// -----------------------------------------------

.sticky {
}

// Media
// -----------------------------------------------

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%content-caption {
  color: $caption-text;
}

.wp-caption {
  .wp-caption-text {
    @extend %content-caption;
  }
}

.gallery-caption {
  @extend %content-caption;
}

.entry-content,
.comment-content,
.widget {
  img {
    height: auto;
    max-width: 100%;
  }
}

img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%;
}

embed,
iframe,
object {
  max-width: 100%;
}

// Footer Section
// -----------------------------------------------

%post-section-title {
  display: block;
  color: $site-default-text;
  font-size: $heading-size2-font-size;
  font-weight: 700;
  margin: 0 0 3rem 0;
  @include smaller-than-tablet-screen {
    margin: 0 0 2.4rem 0;
    font-size: $heading-size2-small-font-size;
  }
}

.entry-footer, .comments {
  .section-inner {
    margin: 0 auto 4rem auto;
    hr {
      margin: 0 0 4rem 0;
    }

    @include smaller-than-tablet-screen {
      margin: 0 auto 2.8rem auto;
      hr {
        margin: 0 0 2.8rem 0;
      }
    }
  }
  .section-title {
    @extend %post-section-title;
  }
}

// Post Inline
.post-inlines {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0 0 2rem;
  }
}
.post-inline {
  display: flex;
  align-items: flex-start;
  color: $site-default-text;
  &:focus,
  &:hover {
    color: $site-default-text;
    text-decoration: none;
    .title {
      text-decoration: underline;
    }
    .post-image {
      transform: scale(1.05);
      transition: 0.3s ease-in-out;
    }
  }
  i {
    color: $site-default-text;
  }
  .title {
    font-weight: 700;
    font-size: 1.8rem;
  }
  .arrow {
    margin-right: 1rem;
  }

  .post-image {
    background: #fff no-repeat center;
    background-size: cover;
    flex-shrink: 0;
    width: 7rem;
    height: 7rem;
  }
  .inner {
    margin-left: 1.5rem;
    .title {

      display: block;
    }
    .meta {
      display: block;
      font-size: 1.5rem;
      color: $site-neutral-text;
      margin: .5rem 0 0;
    }
  }
}

// JetPack Related Posts
// -----------------------------------------------
.entry-footer {
  #jp-relatedposts {
    margin: 8px 0 0 0;
    padding: 0;
    .jp-relatedposts-headline {
      border-bottom: 4px solid $site-default-border;
      display: block;
      float: none;

      em {
        @extend %post-section-title;

        &:before {
          border: none !important;
          margin: 0 !important;
        }
      }
    }
  }
}


// on Archives
// -----------------------------------------------

.post-summary {
  .entry-header,
  .entry-content {
    padding: 3rem 1.5rem 0 3rem;
  }
  .entry-footer {
    padding-bottom: 3rem;
  }

  @include smaller-than-tablet-screen {
    .entry-header,
    .entry-content {
      padding: 2rem 1rem 0 2rem;
    }
    .entry-footer {
      padding-bottom: 2rem;
    }
  }

  @include smaller-than-mobile-screen {
    .entry-header,
    .entry-content {
      padding: 1rem 0.5rem 0 1rem;
    }
    .entry-footer {
      padding-bottom: 1rem;
    }
  }
}

.post-summaries {
  .post-summary {
    margin: $site-grid-margin;
    border-bottom: $site-border-width solid $site-default-border;

    @include smaller-than-tablet-screen {
      margin: $site-grid-margin-small;
    }

    .post-summaries > &:first-child {
    }

    .post-summaries &:last-child {
    }
  }
}

// on Single
// -----------------------------------------------

.post-detailed {
  .entry-header {
    margin: 0 auto;
    max-width: 120rem;
    padding: 10rem 5rem 5rem;
  }
  @include smaller-than-tablet-screen {
    .entry-header {
      padding: 5rem 2.5rem 2.5rem;
    }
    .entry-content {
      padding: 2rem;
    }
  }
  @include smaller-than-mobile-screen {
    .entry-header {
      padding: 2.5rem 1rem 1rem;
    }
    .entry-content {
      padding: 1rem;
    }
  }
}



