.toggle {
  -moz-appearance: none;
  -webkit-appearance: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: inherit;
  user-select: none;
  outline: none;

  &button {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-size: inherit;
    letter-spacing: inherit;
    padding: 0;
    text-transform: none;
  }
  .hide {
    display: none;
  }
  &.toggle__show {
    .show {
      display: none;
    }
    .hide {
      display: flex;
    }
  }
}

.toggle-inner {
  display: flex;
  justify-content: center;
  height: 2.3rem;
  position: relative;

  .toggle-icon {
    i {
      font-size: 2rem;
    }
  }

  .toggle-text {
    font-size: 1rem;
    position: absolute;
    top: calc(100% + 0.25rem);
    width: auto;
    white-space: nowrap;
    word-break: break-all;
  }
}