.toggle {
  position: relative;

  .toggle-inner {
    display: flex;
    justify-content: center;
    min-width: 3rem;
    height: 2.3rem;
    position: fixed;
    transition: opacity 0.2s linear;

    .toggle-icon {
      i {
        font-size: 2rem;
      }
    }

    .toggle-text {
      font-size: 1rem;
      position: absolute;
      top: calc(100% + 0.25rem);
      width: auto;
      white-space: nowrap;
      word-break: break-all;
    }

    &.show {
      opacity: 1;
    }
    &.hide {
      opacity: 0;
    }
  }


  &.is-pressed {
    .toggle-inner {
      &.show {
        opacity: 0;
      }
      &.hide {
        opacity: 1;
      }
    }
  }
}

