
/* =Breadcrumb
----------------------------------------------- */
.breadcrumb {
  display: block;
  text-align: center;
  color: $site-neutral-text;

  a {
    color: $site-neutral-text;
    &:hover {
      color: $site-default-link-over;
    }
  }
  .breadcrumb-last {
  }
}

