// Header and Footer
// -----------------------------------------------

.term-links {
  a {
    color: $site-neutral-text;
  }
}

.entry-meta-primary,
.entry-meta-secondary {
  font-size: 16px;
  color: $site-neutral-text;
}

// Header
// -----------------------------------------------

.entry-header {
  position: relative;

  .entry-title {
    color: $entry-text;
    margin: 0;

    a {
      color: $entry-text;
    }
  }

  .entry-meta-primary {
    margin-bottom: 15px;
    .term-links {
      text-transform: uppercase;
    }
  }

  // centering title on single
  .single &, .page & {
    .entry-title,
    .entry-meta-primary,
    .entry-meta-secondary {
      text-align: center;
    }
    .entry-title {
      font-size: 50px;
    }
    .entry-meta-primary {
      margin-bottom: 30px;
    }
    .entry-meta-secondary {
      .term-links > * {
        margin-top: 30px;
      }
    }
  }

  .post-summary & {
    display: flex;

    .entry-title {
      font-size: 20px;
    }

    .entry-feature-image {
      margin-right: calc(var(--global--spacing-horizontal) / 2);
      .post-image {
        border-radius: $entry-feature-image-radius;
        background: #fff no-repeat center;
        background-size: cover;
        flex-shrink: 0;
        width: 150px;
        height: 150px;
      }
    }

    &:hover {
      .entry-feature-image {
        .post-image {
          transform: scale(1.05);
          transition: .3s ease-in-out;
        }
      }
    }
  }

  @include smaller-than-tablet-screen {
    .single &, .page & {
      .entry-title {
        font-size: 30px;
      }
    }
    .post-summary & {
      .entry-feature-image {
        .post-image {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  @include smaller-than-mobile-screen {
    .post-summary & {
      .entry-feature-image {
        .post-image {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

// Content
// -----------------------------------------------

.entry-content {
  @include sentence-block();
  color: $entry-text;

  .post-summary & {
    color: $entry-summary-text;
    p {
      line-height: 1.8;
    }
  }

  & > * {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  cite,
  figcaption,
  .wp-caption-text {
    font-weight: 400;
  }
  img {
    display: block;
    margin: 40px auto;
  }
  figure {
    margin: 40px auto;
    img {
      margin: 0 auto;
    }
    figcaption {
      margin-top: 5px;
      color: $md-grey-700;
      text-align: center;
    }
  }

  @include smaller-than-tablet-screen {
    img {
      margin: 30px auto;
    }
    figure {
      margin: 30px auto;
      img {
        margin: 0 auto;
      }
    }
  }

  @include smaller-than-desktop-screen {
    // Collapse oversized image and pulled images after iPad breakpoint.
    img.alignleft,
    .wp-caption.alignleft {
      margin-left: 0;
    }
    img.alignright,
    .wp-caption.alignright {
      margin-right: 0;
    }
  }
  @include smaller-than-tablet-screen {
    .align-right {
      float: none;
    }
  }
}

.entry-header,
.entry-content,
.entry-footer {
  @include clearfix;
}

.btn-more-link {
  @extend .btn-text;
  float: right;
  margin-top: 10px;
}

// Media
// -----------------------------------------------

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%content-caption {
  color: $caption-text;
}

.wp-caption {
  .wp-caption-text {
    @extend %content-caption;
  }
}

.gallery-caption {
  @extend %content-caption;
}

.entry-content,
.comment-content,
.widget {
  img {
    height: auto;
    max-width: 100%;
  }
}

img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%;
}

embed,
iframe,
object {
  max-width: 100%;
}

// Footer Section
// -----------------------------------------------

%post-section-title {
  display: block;
  color: $site-default-text;
  font-size: var(--global--font-size-xl);
  font-weight: 800;
  margin: 0 0 30px 0;
  @include smaller-than-tablet-screen {
    margin: 0 0 24px 0;
  }
}

.entry-footer, .comments {
  .section-inner {
    margin: 0 auto 40px auto;
    hr {
      margin: 0 0 40px 0;
    }

    @include smaller-than-tablet-screen {
      margin: 0 auto 28px auto;
      hr {
        margin: 0 0 28px 0;
      }
    }
  }
  .section-title {
    @extend %post-section-title;
  }
}

.entry-footer {
  .entry-meta-secondary {
    margin: 20px 80px 20px 80px;
    .term-links {
      .term-tags-links {
        margin-right: 10px;
      }
    }
    @include smaller-than-tablet-screen {
      margin: 10px 20px 10px 20px;
    }
    @include smaller-than-mobile-screen {
      margin: 10px;
    }
  }
}

.related-software {
  .title {
    color: $site-default-text;
    font-weight: 700;
    font-size: 18px;
  }
}

// Post Inline
.post-inlines {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0 0 20px;
  }
}
.post-inline {
  display: flex;
  align-items: flex-start;
  color: $site-default-text;

  i {
    color: $site-default-text;
  }
  .title {
    color: $entry-text;
    font-weight: 700;
    font-size: 18px;
  }
  .arrow {
    margin-right: 10px;
  }

  .post-image {
    border-radius: $entry-feature-image-radius;
    background: #fff no-repeat center;
    background-size: cover;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
  }
  .inner {
    margin-left: 15px;
    .title {

      display: block;
    }
    .meta {
      display: block;
      font-size: 15px;
      color: $site-neutral-text;
      margin: 5px 0 0;
    }
  }
  &:hover {
    color: $site-default-text;
    text-decoration: none;
    .title {
      text-decoration: underline;
    }
    .post-image {
      transform: scale(1.05);
      transition: .3s ease-in-out;
    }
  }
}

// JetPack Related Posts
// -----------------------------------------------
.entry-footer {
  #jp-relatedposts {
    margin: 8px 0 0 0;
    padding: 0;
    .jp-relatedposts-headline {
      border-bottom: 4px solid $site-default-border;
      display: block;
      float: none;

      em {
        @extend %post-section-title;

        &:before {
          border: none !important;
          margin: 0 !important;
        }
      }
    }
  }
}

// on Archives
// -----------------------------------------------
.post-summary {
  .entry-header,
  .entry-content {
    padding: 30px 25px 0 30px;
  }
  .entry-footer {
    padding-bottom: 30px;
  }

  @include smaller-than-tablet-screen {
    .entry-header,
    .entry-content {
      padding: 20px 15px 0 20px;
    }
    .entry-footer {
      padding-bottom: 20px;
    }
  }

  @include smaller-than-mobile-screen {
    .entry-header,
    .entry-content {
      padding: 20px 5px 0 10px;
    }
    .entry-footer {
      padding-bottom: 10px;
    }
  }
}

.post-summaries {
  margin: 0 auto;
  max-width: 750px;
  .post-summary {
    margin: var(--global--spacing-vertical) var(--global--spacing-horizontal);
    border-bottom: $site-border-width solid $site-default-border;

    @include smaller-than-mobile-screen {
      margin: var(--global--spacing-vertical) 0;

    }

    .post-summaries > &:first-child {
    }

    .post-summaries &:last-child {
    }
  }
}

// on Single
// -----------------------------------------------
.post-detailed {
  margin: 0 auto;
  max-width: 750px;
  .entry-header {
    margin: 0 auto;
    padding: 100px 50px;
  }
  .entry-content {
    margin: 0 auto;
    padding: 0;
  }
  @include smaller-than-tablet-screen {
    .entry-header {
      padding: 50px 25px;
    }
    .entry-content {
    }
  }
  @include smaller-than-mobile-screen {
    .entry-header {
      padding: 25px 10px;
    }
    .entry-content {
    }
  }
}
