.site-header {
  transition-duration: .5s;
  will-change: transform;
  transition: transform .2s linear;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);

  &.headroom {
    position: fixed;
    top: var(--global--admin-bar--height);
    left: 0;
    right: 0;
    z-index: 30;
  }

  &.headroom--pinned {
    transform: translateY(0%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
  }

  &.headroom--unpinned {
    // for IE11
    //noinspection CssOverwrittenProperties
    transform: translateY(-100%);
    // 4px = $site-header-progress-height
    //noinspection CssOverwrittenProperties
    transform: translateY(calc(-100% + 4px));
  }

  &.headroom--not-top {
    background: rgba($header-default-bg, 0.8);

    .site-header-banner {
      display: none;
    }
  }
}

.site-header {
  background: $header-default-bg;
  color: $header-default-text;

  a {
    color: $header-default-link;

    &:hover {
      color: $header-default-link-over;
    }
  }

  .site-header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1680px;
    width: calc(100% - 60px);
    padding: $site-header-margin 0;
    height: $site-header-banner-height;
    max-height: $site-header-banner-height;
  }

  @include smaller-than-tablet-screen {
    .site-header-inner {
      width: calc(100% - 40px);
      padding: $site-header-margin-small 0;
      height: $site-header-banner-height-small;
      max-height: $site-header-banner-height-small;
    }
  }
  @include smaller-than-mobile-screen {
    .site-header-inner {
      width: calc(100% - 20px);
    }
  }
}

.site-header-titles {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  line-height: 1;
  // for IE11
  padding: 10px 0;
  .site-header-logo {
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: -3px;
    padding-right: 3px;
    color: $header-banner-link;


    &:hover {
      color: $header-banner-link-over;
    }
  }

  .site-header-description {
    color: $site-neutral-text;
    margin: 0 0 0 25px;
    font-size: 16px;
    display: none;
  }

  @include smaller-than-tablet-screen {
    display: block;
    .site-header-logo {
      font-size: 18px;
    }
    .site-header-description {
      margin: 7.5px 0 0 5px;
      font-size: 14px;
    }
  }

  @include smaller-than-mobile-screen {
    .site-header-logo {
      font-size: 16px;
    }
    .site-header-description {
      font-size: 12px;
    }
  }
}

.site-header-nav {
  display: flex;

  .menu-button {
    margin-left: 5px;
    min-width: 40px;
  }

  .menu-button-top {
    opacity: 0;

    .headroom--not-top & {
      opacity: 1;
    }
  }
}

.site-progress {
  position: absolute;
  height: $site-header-progress-height;
  right: 0;
  bottom: 0;
  left: 0;
}

.menu-overlay {
  position: fixed;
  left: 0;
  top: calc(var(--site-header--height) + var(--global--admin-bar--height));
  right: 0;
  bottom: 0;
  background-color: $site-surface-color;
  overflow-y: auto;
  z-index: 20;

  transition: all 0.3s ease-out;
  opacity: 1;
  visibility: visible;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .list-categories {
    margin: 0;

    a {
      color: $site-default-text;

      i, svg {
        color: $site-neutral-text;
      }
    }

    .cat-item {
      margin: 0;
      line-height: 1;
      border-bottom: $site-border-width solid $site-default-border;

      &:first-child {
        border-top: $site-border-width solid $site-default-border;
      }

      a {
        margin: 0;
        padding: 15px 0 15px 10px;
        display: block;

        &:hover {
          text-decoration: none;
          background-color: $button-outlined-bg-over;
        }
      }

      // child
      .children {
        margin: 0;
        padding: 0 0 0 40px;
      }
      .cat-item {
        //border-bottom: none;
      }
      .cat-item:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}
