.menu-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  outline: none;
  margin: -.5rem 0 0 .5rem;
  background: transparent;

  @include smaller-than-tablet-screen {
    font-size: 1.5rem;
  }

  .menu-button-inner {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 4rem;
    height: 2.3rem;
    transition: opacity 0.2s linear;

    .menu-icon {
      display: block;
      font-size: 2rem;
    }

    &.show {
      display: flex;
    }

    &.hide {
      display: none;
    }
  }

  &.is-pressed {
    .menu-button-inner {
      &.show {
        display: none;
      }

      &.hide {
        display: flex;
      }
    }
  }
}

