.pagination-single-inner {
  flex-direction: row;
  justify-content: space-between;
}

.pagination-single.only-next .pagination-single-inner {
  justify-content: flex-end;
}

.pagination-single {
  margin-top: 20px;

  &.only-next {
    .pagination-single-inner {
      justify-content: flex-end;
    }
  }
  .pagination-single-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      flex: 1;
      font-weight: 600;
      color: $site-default-text;

      &.previous-post {
        .arrow {
          margin-right: 10px;
        }
      }
      &.next-post {
        flex-direction: row-reverse;
        text-align: right;
        .arrow {
          margin-left: 10px;
        }
      }

      &:hover {
        color: $site-default-text;
        text-decoration: none;
        .title {
          text-decoration: underline;
        }
      }
    }
  }

  @include smaller-than-mobile-screen {
    font-size: 16px;
    .pagination-single-inner {
      flex-direction: column;

      a {
        &.next-post {
          flex-direction: row;
          text-align: left;

          .arrow {
            margin-left: 0;
            margin-right: 10px;
          }
        }
      }

      a + a {
        margin-top: 10px;
      }
    }
  }
}
