$share-icon-size: 30px;

.share-buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  li {
    margin: 0 10px 0 0;
    padding: 0;
  }
}
.btn-share {
  @extend .btn-contained;
  @include circle(40px);
  outline: none;
  @include smaller-than-tablet-screen {
    @include circle(30px);
  }

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .share-title {
    display: none;
  }

  .share-brand-icon {
    display: inline-block;
    fill: $site-on-primary-text-color;
  }

  &.btn-share-twitter {
    background-color: $twitter-blue;
  }
  &.btn-share-facebook {
    background-color: $facebook-blue;
  }

  &.btn-share-line {
    background-color: $line-green;
    .fill_1 {
      fill: #fff;
    }
    .fill_2 {
      fill: $line-green
    }
  }
  &.btn-share-hatena {
    background-color: $hatena-bookmark-blue;
  }
  &.btn-share-pocket {
    background-color: $pocket-pink;
  }
  &.btn-share-url {
  }

  .share-count {
    position: absolute;
    left: 27px;
    top: -8px;
    @include smaller-than-tablet-screen {
      left: 17px;
      top: -8px;
    }
    background-color: $site-badge-color;
    color: $site-on-badge-text-color;
    border-radius: 50%;
    text-align: center;
    font-size: 6.5px;
    font-weight: bold;
    min-height: 20px;
    min-width: 20px;
    line-height: 20px;
    &.share-count-has {
      opacity: 1;
    }
  }
}
