.site-sidebar {
  margin-top: 50px;
  padding-bottom: 50px;
  border-top: $site-border-width solid $site-default-border;
  background-color: $sidebar-default-bg;

  .site-sidebar-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .widget {
    margin: 0 0 40px 20px;
    width: calc(50% - 20px);

    .widget-title {
      font-size: var(--global--font-size-lg);
      font-weight: var(--widget--font-weight-title);
      line-height: var(--widget--line-height-title);
      margin: 45px 0 25px;

      // disable svg-icon
      i, .svg-inline--fa {
        display: none;
      }
    }
  }

  & > .widget:first-child {
    margin-top: 0;
  }

  @include smaller-than-tablet-screen {
    margin-top: 0;
    margin-bottom: 0;

    .site-sidebar-inner {
    }
    .widget {
      margin: 0 5px 4px 5px;
      width: calc(100% - 10px);
      border-top: $site-border-width solid $site-default-border;
      &:first-child {
        border-top: none;
      }
    }
  }
}
