.page-template-help, .page-template-archives {
  &.page {
    .entry-header {
      text-align: left;
    }

    h1, h2, h3 {
      font-weight: 700;
      text-transform: uppercase;
    }
    .entry-title {
      font-size: 4rem;
      line-height: 4rem;
      margin-bottom: 2rem;
      @include smaller-than-tablet-screen {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
