
.tags-cloud {
  padding: 0 .5em;
  line-height: 2;

  .tag {
    display: inline-block;
    margin: 0 .5em;
  }

  .rank-1 {
    font-size: 1.375rem;
    a {
      color: #101010;
    }
  }
  .rank-2 {
    font-size: 1.35rem;
    a {
      color: #1f1f1f;
    }
  }
  .rank-3 {
    font-size: 1.3rem;
    a {
      color: #2f2f2f;
    }
  }
  .rank-4 {
    font-size: 1.275rem;
    a {
      color: #3e3e3e;
    }
  }
  .rank-5 {
    font-size: 1.25rem;
    a {
      color: #4e4e4e;
    }
  }
  .rank-6 {
    font-size: 1.125rem;
    a {
      color: #5d5d5d;
    }
  }
  .rank-7 {
    font-size: 1.1rem;
    a {
      color: #6d6d6d;
    }
  }
  .rank-8 {
    font-size: 1rem;
    a {
      color: #7c7c7c;
    }
  }
  .rank-9 {
    font-size: 0.95rem;
    a {
      color: #8c8c8c;
    }
  }
  .rank-10 {
    font-size: 0.95rem;
    a {
      color: #9b9b9b;
    }
  }

}

