// Layout Size ----------------------------
$site-grid-margin: 30px;
$site-grid-margin-small: 15px;

$site-max-container: 1200 - 2*$site-grid-margin;
$site-max-content: 840px;
$site-max-sidebar: 330px;

$site-header-banner-height: 63px;
$site-header-banner-height-small: 48px;
$site-header-nav-height: 48px;
$site-header-nav-height-small: 48px;
$site-header-progress-height: 4px;
$site-header-height: $site-header-banner-height + $site-header-nav-height + $site-header-progress-height;
$site-header-height-small: $site-header-banner-height-small + $site-header-nav-height-small + $site-header-progress-height;

$site-border-radius: 4px;
$site-border-width: 1px;
$site-border-left-width: .6em;

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// ----------------------------

$font-family-mincho: 'Hiragino Mincho ProN', 'Hiragino Mincho ProN W3', YuMincho;
$font-family-gothic: 'Yu Gothic', YuGothic, 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic Pro', Meiryo, 'M+ 1p';

$font-family-sans-serif: 'Nunito Sans', $font-family-gothic, sans-serif;
$font-family-monospace: Monaco, Menlo, Consolas, 'Courier New', monospace;

$font-size-base: 1.8rem;

$heading-size1-font-size: 3rem;
$heading-size2-font-size: 2.6rem;
$heading-size3-font-size: 2.3rem;
$heading-size4-font-size: 2.1rem;
$heading-size5-font-size: 1.9rem;
$heading-size6-font-size: 1.8rem;
$heading-size1-small-font-size: 2.2rem;
$heading-size2-small-font-size: 2rem;
$heading-size3-small-font-size: 2rem;
$heading-size4-small-font-size: 1.9rem;
$heading-size5-small-font-size: 1.9rem;
$heading-size6-small-font-size: 1.8rem;

$block-shadow: 4px 6px 10px -6px rgba(0, 0, 0, .1);

// Layout color ----------------------------
$site-primary-color: #2ba6cb;
$site-primary-dark-color: darken($site-primary-color, 10%);
$site-primary-light-color: lighten($site-primary-color, 50%);
$site-on-primary-text-color: #fff;
$site-surface-color: #fff;
$site-background-color: #fff;

$site-badge-color: $md-pink-400;
$site-on-badge-text-color: #fff;

$site-default-border: #ddd;
$site-progress-border: $site-primary-color;

$site-default-text: $md-blue-grey-900;
$site-content-text: $md-blue-grey-700;
$site-neutral-color: $md-blue-grey-400;
$site-default-link: darken($site-primary-color, 10%);
$site-default-link-over: darken($site-default-link, 10%);

$site-component-header-bg: linear-gradient(to right, $site-primary-light-color 0%, $site-primary-color 100%);
$site-component-header-bg-radius: 10px;
$site-component-header-text: $site-on-primary-text-color;
$site-component-content-bg: $site-surface-color;
$site-component-content-text: $site-default-text;

$header-default-bg: white;
$header-default-text: $site-default-text;
$header-default-link: $site-default-text;
$header-default-link-over: $site-default-link-over;
$header-banner-link: $site-primary-color;
$header-banner-link-over: darken($site-primary-color, 10%);

$footer-default-bg: $md-grey-50;
$footer-default-text: $site-default-text;
$footer-default-link: $footer-default-text;
$footer-default-link-over: $site-default-link-over;

// Typography color ----------------------------
$entry-title-text: $site-default-text;
$entry-title-text-over: $site-primary-color;
$entry-title-text-decoration-over: underline;
$entry-header-border-color: $site-primary-color;
$caption-text: #767676;
$code-default-bg: $md-grey-50;
$blockquote-text: $md-grey-700;

// Parts color ----------------------------

// form
$form-default-border: $md-grey-300;
$form-default-border-over: $md-grey-400;
$form-default-placeholder: $md-grey-300;

// button
$button-contained-bg: $site-primary-color;
$button-contained-bg-over: lighten($button-contained-bg, 10%);
$button-contained-text: $site-on-primary-text-color;
$button-contained-disable-bg: $md-grey-200;
$button-contained-disable-text: $md-grey-400;
$button-outlined-bg: transparent;
$button-outlined-bg-over: lighten($site-primary-color, 40%);
$button-outlined-border: $md-grey-400;
$button-outlined-border-width: 1px;
$button-outlined-text: $site-primary-color;
$button-outlined-disable-border: $md-grey-300;
$button-outlined-disable-text: $md-grey-300;

// state colors
$state-warning-text: #c09853;
$state-warning-bg: #fefaef;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 3%);
$state-danger-text: #b94a48;
$state-danger-bg: #f2dede;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 3%);
$state-success-text: #468847;
$state-success-bg: #dff0d8;
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%);
$state-info-text: #3a87ad;
$state-info-bg: lighten(#d9edf7, 7%);
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%);

// alerts
$alert-padding: $site-grid-margin;
$alert-border-radius: $site-border-radius;
$alert-link-font-weight: bold;
$alert-success-bg: $state-success-bg;
$alert-success-text: $state-success-text;
$alert-success-border: $state-success-border;
$alert-info-bg: $state-info-bg;
$alert-info-text: $state-info-text;
$alert-info-border: $state-info-border;
$alert-warning-bg: $state-warning-bg;
$alert-warning-text: $state-warning-text;
$alert-warning-border: $state-warning-border;
$alert-danger-bg: $state-danger-bg;
$alert-danger-text: $state-danger-text;
$alert-danger-border: $state-danger-border;

$block-default-bg: $site-surface-color;
$block-default-text: $md-blue-grey-700;
$block-default-icon: $md-blue-grey-400;
$block-default-divider: rgba(0, 0, 0, 0.05);
$block-default-border: rgba(0, 0, 0, 0.1);
$block-border-width: $site-border-width;
$block-border-radius: 6px;
$block-margin: 1.6em;
$block-padding: 1.6em;
