@import "01-lib/lib";
@import "02-settings/variables";

.amazonjs_item {
  border-color: rgba($amazon-orange, .7);
  border-width: $site-border-width;
  //border-radius: $site-border-radius;
  margin: var(--global--spacing-vertical) 0 var(--global--spacing-vertical) 0;
  padding: var(--global--spacing-vertical) var(--global--spacing-horizontal);

  a {
    color: $amazon-orange;
    &:hover {
      color: $amazon-orange;
      text-decoration: underline;
    }
  }
}
