@import "lib/colors/trendcolors";
@import "lib/colors/brandcolors";
@import "lib/colors/materialcolors";
@import "lib/mixins/utils";
@import "lib/mixins/responsive";
@import "lib/func/color";
@import "variables";

.amazonjs_item {
//  @include block-white($blockBorderRadius);
  border-color: $block-default-border;
  border-width: 1px;
  box-shadow: $block-shadow;
  margin: .5em 0 1em 0;
  padding: $site-grid-margin $site-grid-margin/2;

  a {
    color: $site-default-link;
    &:hover {
      color: $site-default-link-over;
    }
  }

  @include smaller-than-tablet-screen {
    margin: .5em -1*$site-grid-margin 1em -1*$site-grid-margin;
    padding: $site-grid-margin-small $site-grid-margin-small/2;
  }

  .amazonjs_image {
    img {
      box-shadow: none;
      border: none;
    }
  }

  .amazonjs_info {
    h4 {
      font-size: 1.2em;
      font-weight: bold;
      text-shadow: none;
    }

    ul {
      li {
        font-size: 1em;
      }
    }
  }

  .amazonjs_review {
    font-size: .9em;
  }
}