
/* =Global
----------------------------------------------- */

.hr {
  border-bottom: $site-border-width solid $site-default-border;
}

.block-content {
  @include block-white($site-border-radius);
}

.quote-caption {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.strike {
  text-decoration: line-through;
}

.muted {
  color: #999;
}

.time {
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.icon {
  font-style: normal;
}

// Inline turns list items into inline-block
.list-inline {
  padding-left: 0;
  list-style: none;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.table-bordered {
  border: $site-border-width solid $site-default-border;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  background-color: $site-surface-color;

  th {
  }

  th,
  td {
    padding: 6px 8px;
    text-align: left;
    vertical-align: top;
    border-top: $site-border-width solid $site-default-border;
    border-left: $site-border-width solid $site-default-border;
  }
  caption + thead tr:first-child th,
  caption + tbody tr:first-child th,
  caption + tbody tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + tbody tr:first-child th,
  colgroup + tbody tr:first-child td,
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
}

.rakuten-afl {
  @include block-white($site-border-radius);
  table {
    margin: 0;
    border-bottom: none;
    td, tr {
      border: none;
    }
    img {
      border: none;
      border-radius: 0;
    }
  }
  margin-bottom: 20px;
}

/* Alignment */
.align-left {
  display: inline;
  float: left;
  margin-right: 15px;
}
.align-right {
  display: inline;
  float: right;
  margin-left: 15px;
}
.align-center {
  clear: both;
  display: block;
  margin: 0 auto;
}

.desktop-hide {
  @include larger-than-desktop-screen {
    display: none !important;
  }
}
.desktop-show {
  @include smaller-than-desktop-screen {
    display: none !important;
  }
}


