// Layout
// -----------------------------------------------

 //.site-header
 //.site-main
 //  ├── .site-content
 //  └── .site-sidebar
 //.site-footer

body {
  overflow-y: scroll;
}

.section-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  width: calc(100% - 80px);
}

.site-main {
  margin: calc(var(--site-header--height) + var(--global--admin-bar--height)) auto 0 auto; // for sticky header
}

.site-content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.site-sidebar {
  margin: 0 auto;
  padding: 0;
}

.site-footer {
}

@include smaller-than-desktop-screen {
  .site-main {
  }
  .site-content {
  }
  .site-sidebar {
  }
}

@include smaller-than-tablet-screen {
  .section-inner {
    width: calc(100% - 40px);
  }
}

@include smaller-than-mobile-screen {
  .section-inner {
    width: calc(100% - 20px);
  }
}
