// Base
// -----------------------------------------------

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  hyphens: auto;
  margin: 0;
  background-color: $site-background-color;
  color: $site-default-text;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  @include smaller-than-tablet-screen {
    font-size: $font-size-base * .9;
  }
}

main {
  display: block;
}

// Link
// -----------------------------------------------

path {
  transition: all 0.15s linear;
}

a {
  color: $site-default-link;
  transition: all 0.25s linear;
  text-decoration: none;
  outline: 0;
}

a:active,
a:hover {
  color: $site-default-link-over;
  text-decoration: underline;
}

// Header
// -----------------------------------------------



// Paragraph
// -----------------------------------------------

p {
  line-height: 1.5;
  margin: 0 0 1em 0;
}

em,
i,
q,
dfn {
  font-style: italic;
}

em, i, cite {
  em, i {
    font-weight: bolder;
  }
}

big {
  font-size: 1.2em;
}

small {
  font-size: 0.75em;
}

b,
strong {
  font-weight: 700;
}

del {
  color: #333;
}

ins {
  color: $state-warning-text;
  background-color: $state-warning-bg;
  text-decoration: underline;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

abbr,
acronym {
  cursor: help;
}

address {
  line-height: 1.5;
  margin: 0 0 2rem 0;
}

// Lists
// -----------------------------------------------

ul,
ol {
  margin: 0 0 3rem 3rem;
}

ul {
  list-style: disc;
  ul {
    list-style: circle;
    ul {
      list-style: square;
    }
  }
}


ol {
  list-style: decimal;
  ol {
    list-style: lower-alpha;
    ol {
      list-style: lower-roman;
    }
  }
}

li {
  line-height: 1.5;
  margin: 0.5rem 0 0 2rem;

  & > ul {
    margin: 1rem 0 0 2rem;
  }
  & > ol {
    margin: 1rem 0 0 2rem;
  }
}

dt,
dd {
  line-height: 1.5;
}

dt {
  font-weight: 700;
}

dt + dd {
  margin-top: 0.5rem;
}

dd + dt {
  margin-top: 1.5rem;
}

// Selection
// -----------------------------------------------

::selection {
  background: $site-primary-color;
  color: $site-on-primary-text-color;
  text-shadow: none;
}

// Blockquote
// -----------------------------------------------

blockquote {
  color: $blockquote-text;
  border-left: .4rem solid $site-default-border;
  font-style: italic;
  font-weight: 300;
  margin: 4rem 0;
  padding: .5rem 0 .5rem 2rem;

  cite,
  small {
    @extend .quote-caption;
  }
}

// Horizontal Rule
// -----------------------------------------------

hr {
  border-style: solid;
  border-width: 0.1rem 0 0 0;
  border-color: $site-default-border;
  margin: 4rem 0;
}


// Code
// -----------------------------------------------

pre {
  @include block-white($site-border-radius);
  margin: 20px 0;
  overflow: auto;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
  font-size: 1.4rem;
  font-weight: 300;
  hyphens: none;
}

// Responsive: Mobile and Tablet
// -----------------------------------------------
@include smaller-than-desktop-screen {


  h1 {
    font-size: $heading-size1-small-font-size;
  }

  h2 {
    font-size: $heading-size2-small-font-size;
  }

  h3 {
    font-size: $heading-size3-small-font-size;
  }

  h4 {
    font-size: $heading-size4-small-font-size;
  }

  h5 {
    font-size: $heading-size5-small-font-size;
  }

  h6 {
    font-size: $heading-size6-small-font-size;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 3.5rem auto 2rem;
  }

  menu,
  ol,
  ul {
    margin: 1rem 0;
    padding: 0 0 0 2rem;
  }
}