@use 'abstracts' as *;
@use 'sass:math';

// google-prettify-monokai-theme
//@media screen {
//  .prettyprint {
//    .str { color: #e6db5a; } /* string */
//    .kwd { color: #66d9ef; } /* keyword */
//    .com { color: #75715e; font-style: italic; } /* comment */
//    .typ { color: #66d9ef; } /* type */
//    .lit { color: #ae81ff; } /* literal */
//    .pun { color: #fff; } /* punctuation */
//    .pln { color: #fff; } /* plaintext */
//    .tag { color: #f92672; } /* html/xml tag */
//    .atn { color: #a6e22a; } /* html/xml attribute name */
//    .atv { color: #e6db74; } /* html/xml attribute value */
//    .dec { color: #ae81ff; } /* decimal */
//  }
//}

// GitHub Theme
@media screen {

  .prettyprint {

    .str { color: var(--color-syntax-string); }

    .kwd { color: var(--color-syntax-keyword); }

    .com { color: var(--color-syntax-comment); }

    .typ { color: var(--color-syntax-type); }

    .lit { color: var(--color-syntax-literal); }

    .pun { color: var(--color-syntax-punctuation); }

    .pln { color: var(--color-syntax-plaintext); }

    .opn { color: var(--color-syntax-punctuation); }

    .clo { color: var(--color-syntax-punctuation); }

    .tag { color: var(--color-syntax-tag); }

    .atn { color: var(--color-syntax-attribute); }

    .atv { color: var(--color-syntax-string); }

    .dec { color: var(--color-syntax-punctuation); }

    .var { color: var(--color-syntax-attribute); }

    .fun { color: var(--color-syntax-function); }
  }
}

@media print, projection {

  .prettyprint {

    .str {
      color: var(--color-syntax-string)
    }

    .kwd {
      color: var(--color-syntax-keyword);
      font-weight: 700
    }

    .com {
      color: var(--color-syntax-comment);
      font-style: italic
    }

    .typ {
      color: var(--color-syntax-type);
      font-weight: 700
    }

    .lit {
      color: var(--color-syntax-literal)
    }

    .pun, .opn, .clo {
      color: var(--color-syntax-punctuation)
    }

    .pln {
      color: var(--color-syntax-plaintext)
    }

    .tag {
      color: var(--color-syntax-tag);
      font-weight: 700
    }

    .atn {
      color: var(--color-syntax-attribute)
    }

    .atv {
      color: var(--color-syntax-string)
    }
  }
}

@media screen {

  .code-frame {
    border: none;
    background-color: $code-default-bg;
    padding: 0;
    padding-top: math.div($block-padding, 2);
    padding-left: math.div($block-padding, 2);
    margin: 20px 10px;

    .code-filename {
      color: $site-primary-color;
      line-height: 2;
      font-weight: 700;
    }

    .prettyprint {
      border-radius: 0;
      border: none;
      background: none;
      margin: 0;

      padding: $block-padding;
      padding-top: math.div($block-padding, 2);
      padding-left: math.div($block-padding, 2);
    }
  }
}


.prettyprint {

  .linenums {
    margin-top: 0;
    margin-bottom: 0;
  }

  li.L0,
  li.L1,
  li.L2,
  li.L3,
  li.L4,
  li.L5,
  li.L6,
  li.L7,
  li.L8,
  li.L9 {
    list-style: none;
  }

  li.L1,
  li.L3,
  li.L5,
  li.L7,
  li.L9 {
  }
}
