
/* =Breadcrumb
----------------------------------------------- */
.breadcrumb {
  display: block;
  color: lighten(desaturate($site-foreground-color, 20%), 40%);

  .fa-chevron-right {
    padding-right: 5px;
    padding-left: 5px;
    color: $silver;
  }

  a {
    padding: 10px 10px 10px 10px;
    color: lighten(desaturate($brand-primary-text, 10%), 20%);
    &:hover {
      color: white;
      background-color: $site-link-color;
    }
  }
}