
/* =Breadcrumb
----------------------------------------------- */
.breadcrumb {
  display: block;
  margin: 10px auto 10px auto;
  max-width: $siteContentMaxWidth;

  width: 100%;
//  font-size: $fontSizeSmall;
//  font-weight: 300;

  //border: $blockBorderWidth solid $clouds;
  //@include border-radius($blockBorderRadius);
  color: lighten(desaturate($siteForegroundColor, 20%), 40%);

  .fa-chevron-right {
    padding-right: 5px;
    padding-left: 5px;
    color: $silver;
  }

  a {
    padding: 10px 10px 10px 10px;
    color: lighten(desaturate($brandPrimaryText, 10%), 20%);
    &:hover {
      color: white;
      background-color: $siteLinkColor;
    }
  }
}