
.btn {
  margin: 0 10px 0 0;
  display: inline-block;
  float: left;
  line-height: 1;
  text-decoration: none;
  background-color: $site-link-accent-color;
  color: $white;
  padding: 12px 15px 12px 16px;
  font-weight: bold;
  font-size: 16px;

  &:hover {
    background-color: $site-link-accent-over-color;
    color: $white;
  }
}