

.list-categories {
  list-style: none;
  padding: 0;

  .cat-item {
    display: inline;

    a {
      @extend .btn;
      background-color: $white;
      border: 1px solid $button-default-border;
      color: $button-default-text;
      border-radius: 2px;
      display: inline-block;
      margin: 5px 0 5px 5px;
      float: none;

      &:hover {
        border-color: $md-light-blue-600;
        color: $md-light-blue-600;
      }
    }
    > .cat-item-entry-count {
      display: inline-block;
      background-color: $pink;
      color: $white;
      font-size: $font-size-small;
      border-radius: 50%;
      text-align: center;
      font-weight: bold;
      min-height: 30px;
      min-width: 30px;
      line-height: 30px;
      margin: 0 10px 0 -15px;
    }
  }

  .children {
    display: inline;
    list-style: none;
    padding: 0;
  }
}