

.list-categories {
  list-style: none;
  margin: 0;
  padding: $site-grid-margin;

  .cat-item {
    margin-bottom: 2px;
    svg {
      min-width: 1.5em;
    }
    a {
    }
    > .cat-item-entry-count {
      display: inline-block;
      background-color: $pink;
      color: $white;
      font-size: $font-size-small;
      border-radius: 50%;
      text-align: center;
      font-weight: bold;
      min-height: 30px;
      min-width: 30px;
      line-height: 30px;
      margin: 0 10px;
    }
  }

  .children {
    //display: inline;
    list-style: none;
    //padding: 0;
  }
}