
.zenback-widget-area,
.section-comment,
.pingbacks-area {
  display: block;
  margin: 0 auto;
  max-width: $siteContentMaxWidth;
  width: 100%;
}

/* =Comments
-------------------------------------------------------------- */

.section-comment {
  .section-title {
    &:before {
      content: $fa-var-comments-o;
    }
  }
}

.comment-list {
  list-style-type: none;
  padding: 0;

  .children {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
  }

  & > .comment:after,
  & > .pingback:after,
  .children > .comment:before {
    @extend .hr;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
  }

  & > li:last-child:after {
    display: none;
  }
}

.comment-small {
  font-size: 14px;
  line-height: 1;
}

.comment {

  .comment-body {

    .comment-author {
      float: left;
      max-width: 74px;
    }

    .comment-metadata,
    .comment-awaiting-moderation,
    .comment-content {
      float: right;
      width: 80%;
      width: -webkit-calc(100% - 64px);
      width:         calc(100% - 64px);

    }
  }

}

.comment-body {
  padding: 24px 0;
  position: relative;
  @include clearfix;

  .comment-author {
    .avatar {
      display: block;
      margin-bottom: 10px;
      padding: 2px;
      border: 1px solid #eee;
    }
  }
  .comment-metadata {
    cite,
    time,
    a {
      @extend .comment-small;
    }
    cite {
      display: block;
      a {
        color: $siteForegroundColor;
      }
    }

    .fn,
    .comment-time {
      display: inline-block;
    }
    .comment-time {
      color: $commentDateColor;
      font-style: normal;
      font-weight: 300;
    }
  }

  .comment-content {
    @include block-white(4px);
    font-size:16px;
    a {
      word-wrap: break-word;
    }
    > p:last-of-type {
      margin-bottom: 0;
    }
  }

  .comment-awaiting-moderation {
    display: block;
    width: 100%;
    @extend .comment-small;
    color: $commentDateColor;

    &:before {
      font-family: FontAwesome;
      content: $fa-var-exclamation-triangle;
      margin-right: 5px;
    }
  }
}

.comment-reply-link,
.comment-reply-login {
  @extend .comment-small;
  &:before {
    font-family: FontAwesome;
    content: $fa-var-reply;
    margin-right: 5px;
  }
}

.bypostauthor {
  > .comment-body {
    .comment-author {
      .avatar {
      }
    }
    .fn:before {
      font-family: FontAwesome;
      content: $fa-var-pencil;
      vertical-align: text-top;
      color:$siteLinkColor;
      margin-right: 5px;
    }
  }
}

.section-comment {
  .comment-respond {
    @extend .section;
    @extend .section-default;
    .comment-reply-title {
      @extend .section-title;
      &:before {
        content: $fa-var-comment-o;
      }
    }
  }
}

.navigation-comment {
  a {
    @extend %pagenation-page;
    float: none;
    background-color: $siteAccentColor;
    &:hover {
      background-color: $blueDark;
    }
  }
}
