
/* =Content
----------------------------------------------- */

.hentry {
  margin: 0 auto 40px auto;
  max-width: $siteContentMaxWidth;
  width: 100%;
  word-wrap: break-word;

  h2 {
    padding-bottom: 10px;
    border-bottom: solid 2px $borderColor;
  }

  h3 {
    padding-bottom: 5px;
    border-bottom: solid 1px $borderColor;
  }
}

.site-content {
  .page-header {
    margin: 0 auto;
    max-width: $siteContentMaxWidth;

    .page-title {
      margin: 20px 0 0 0;
      color: $entryTitleColor;
    }
  }
  .hentry:first-of-type {
    padding-top: 20px;
  }
}

.single {
  .hentry {
    padding-bottom: 10px;
  }
}

.entry-header {
  position: relative;
  //padding-top: 1.5em;
  margin-bottom: 1.5em;

  .entry-title {
    color: $entryTitleColor;
    margin: 0 0 6px 0;
    a {
      color: $entryTitleColor;
      &:hover {
        color: $siteLinkOverColor;
      }
    }
  }
}

.entry-date {

  &:before {
    font-family: FontAwesome;
    @extend .icon-time:before;
    margin-right: 3px;
    color: $entryDateColor;
  }

  .published {
    font-weight: 300;
    text-transform: uppercase;
    color: $entryDateColor;
  }
}

.entry-meta {
  margin: 10px 0 0 0;
  i {
    margin-left: .5em;
    color: $siteLinkColor;
  }
  .portfolio-posts-area {
    .entry-date {
      margin: 0 4px;
    }
  }
  .author,
  .date {
    display: none;
  }
}

.entry-content {
  line-height: 2;
}

.entry-content,
.entry-meta {
  @include clearfix;
}

.page {
  .entry-header {
    max-width: $siteMainMaxWidth;
    margin: 0 auto;
    width: 100%;
  }

  .entry-content,
  .entry-meta {
    margin: 0 auto;
    max-width: $siteContentMaxWidth;
    width: 100%;
  }

  .entry-title {
    margin: 5px 0;
  }
}

/* =Media
----------------------------------------------- */

.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
  @include border-radius($blockBorderRadius);
  max-width: 100%;
}

.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  padding: 4px;
  background-color: $white;
  border: $blockBorderWidth solid $blockBorderColor;
}

img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%;
}

embed,
iframe,
object {
  max-width: 100%;
}


/* =Related Posts
----------------------------------------------- */
.related-posts {

  .related-post {
    padding: 24px 12px;
    margin: 12px 0;

    //background-color: #f7f7f7;
    //@include block(#fefefe);
    border-bottom: $blockBorderWidth solid $blue;
    //border-top: $blockBorderWidth solid $clouds;
    //border-left: $blockBorderWidth solid $blue;
    //border-right: $blockBorderWidth solid $blue;

    .entry-title {
      font-size: 1em;
      margin: 0 0 .5em 0;
    }

    .entry-content {
      font-size: $fontSizeSmall;
    }

    .published {
      color: $blueDark;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0 4px;
    }
    .entry-summary {
      font-weight: 300;
      display: inline;
    }
  }
}

