
/* =Content
----------------------------------------------- */

.post-summary,
.post-single {
  word-wrap: break-word;
}

.post-summary {
  .entry-title {
    font-size: 26px;
    a {
      color: $site-link-color;
    }
  }
  .entry-summary {
    p {
      color: $site-dark-accent-color;
    }
  }
}

.site-content {
  .page-header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $block-border-color;

    .page-title {
      margin: 0;
      color: $entry-title-color;
    }
  }
}

.entry-header {
  position: relative;

  a {
    color: $entry-title-color;
    &:hover {
      color: $site-link-over-color;
    }
  }

  span {
    margin-right: 5px;
  }

  .cat-links,
  .tag-links {
    color: $silver;
    text-transform: uppercase;
    a {
      color: $silver;

      &:hover {
        color: $site-link-over-color;
      }
    }
  }

  .tag-links {
    margin-left: 5px;
    a {
      margin-right: 10px;
    }
  }

  .entry-date {
    .time {
      color: $silver;
    }
  }

  .entry-title {
    font-weight: 700;
    color: $entry-title-color;
    margin: 0 0 5px 0;
  }
}

.entry-meta {
  margin: 10px 0 0 0;
  i {
    margin-left: .5em;
    color: $site-link-color;
  }
  .portfolio-posts-area {
    .entry-date {
      margin: 0 4px;
    }
  }
  .author,
  .date {
    display: none;
  }
}

.entry-content {
  line-height: $line-height-large;

  h2 {
    padding-bottom: 10px;
    border-bottom: solid 2px $site-border-color;
  }

  h3 {
    padding-bottom: 5px;
    border-bottom: solid 1px $site-border-color;
  }
}

.entry-content,
.entry-meta {
  @include clearfix;
}

.more-link {
  float: right;
  @include border-radius(20px);
  background-color: $site-dark-accent-color;
  &:hover {
    background-color: $site-link-over-color;
  }
}

/* =Media
----------------------------------------------- */

.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
//  @include border-radius($blockBorderRadius);
  max-width: 100%;
}

.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
//  padding: 10px;
//  background-color: $white;
//  border: $blockBorderWidth solid $blockBorderColor;
}

img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%;
}

embed,
iframe,
object {
  max-width: 100%;
}

.section {
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
  .section-title {
    text-transform: uppercase;
  }
}

.section-default {
  .section-title {
    color: $site-dark-accent-color;
    margin: 10px 0;
    border-bottom: 5px solid $site-dark-accent-color;
    &:before {
      font-family: FontAwesome;
      background-color: $site-dark-accent-color;
      color: #fff;
      margin: 0 10px 0 0;
      padding: 5px 10px;
      text-align: center;
      vertical-align: middle;
      width: 36px;
    }
  }
}

.section-mini {
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  .section-title {
    float: left;
    width: 15.625%;
    color: $silver;
    font-weight: 400;
    text-transform: uppercase;
    font-size: $font-size-small;
    margin: 5px 0;
  }
  .section-content {
    width: 82.125%;
    float: right;
    margin: 5px 0;

  }
  @include clearfix;
}

.section-about-me {
  .section-content {
    color: $gray;
    font-weight: 300;
    font-size: $font-size-small;
    line-height: 24px; /* half avatar */
  }
  .avatar {
    border: 1px solid $site-border-color;
    margin-right: 5px;
    float: left;
  }
}

/* =Related Posts
----------------------------------------------- */
.section-related-posts {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      &:before {
        font-family: FontAwesome;
        content: $fa-var-chevron-circle-right; // fa-chevron-circle-right
        vertical-align: middle;
        color: $site-link-color;
        margin-right: 5px;
      }
    }


  }
  .entry-date {
    color: $silver;
  }
}
