// Container
// -----------------------------------------------

.site {
  box-sizing: content-box;
  border-top: 10px solid $footer-default-bg;
  width: 100%;
}

.site-content-area {
  margin: 0 auto;
  position: relative;
}

.site-content {
  margin: 0 auto;
}
