
.site-footer {
  background-color: $footer-background-color;
  color: $footer-foreground-color;
  text-align: center;
  padding: 10px 0;

  a {
    color: lighten($site-link-color, 40%);
  }

  .site-info {
    .copyrights {

      @include clearfix;
      padding-bottom: 12px;
      padding-top: 12px;

      .credit,
      .poweredby {
        font-size: $font-size-small;
        font-weight: 300;
        display: inline;
        margin: 0 4px;
        padding: 0;
      }
      .credit {
        float: left;
      }
      .poweredby {
        float: right;
        .theme {
          &:before {
            font-family: FontAwesome;
            @extend .fa-heart:before;
            color: hotpink;
            margin-right: 2px;
            font-size: .5em;
          }
        }
      }
    }
  }
}

#wpstats {
  display: block;
  margin: -10px auto 0;
}
