.site-footer {
  background-color: $footer-default-bg;
  color: $footer-default-text;
  text-align: center;

  .container {
    padding: 10px 0;
  }

  .home & .container {
    border-top: none;
  }

  a {
    color: $footer-default-link;
    &:hover {
      color: $footer-default-link-over;
    }
  }

  .copyrights {
    @include clearfix;
    padding-bottom: 12px;
    padding-top: 12px;

    .credit,
    .poweredby {
      font-size: $font-size-small;
      font-weight: 300;
      display: inline;
      margin: 0 4px;
      padding: 0;
    }
    .credit {
      float: left;
    }
    .poweredby {
      float: right;

      .fa-heart {
        margin: 0 2px;
        font-size: .5em;
        color: $heart-red;
      }
      .fa-github-alt {
        margin: 0 2px;
      }
    }
  }
}

#wpstats {
  display: block;
  margin: -10px auto 0;
}
