.site-footer {
  border-top: 1px solid $footer-border-color;
  background-color: $footer-default-bg;
  color: $footer-default-text;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .container {
    padding: 10px 0;
  }

  .home & .container {
    border-top: none;
  }

  a {
    color: $footer-default-link;
    &:hover {
      color: $footer-default-link-over;
    }
  }

  .site-footer-nav {
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline;
        font-size: $font-size-small;
        margin: 0 4px;
      }
    }
  }

  .copyrights {
    @include clearfix;
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex;

    .credit,
    .poweredby {
      font-size: $font-size-small;
      font-weight: 300;
      display: inline;
      margin: 0 4px;
      padding: 0;
    }
    .poweredby {
      .fa-heart {
        margin: 0 2px;
        font-size: .5em;
        color: $heart-red;
      }
      .fa-github-alt {
        margin: 0 2px;
      }
    }

    @include smaller-than-desktop-screen {
      .credit,
      .poweredby {
        font-size: $font-size-mini;
        float: none;
        display: block;
        text-align: center;
      }
    }
  }
}

#wpstats {
  display: block;
  margin: -10px auto 0;
}
