
/* =Global
----------------------------------------------- */

.hr {
  border-bottom: $site-border-width solid $block-default-divider;
}

.block-content {
  @include block-white($block-border-radius);
}

.quote-caption {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}


.strike {
  text-decoration: line-through;
}

.muted {
  color: #999;
}

.time {
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.icon {
  font-style: normal;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
  @extend .list-unstyled;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.table-bordered {
  border: $site-border-width solid $block-default-divider;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  background-color: $white;

  th {
  }

  th,
  td {
    padding: 6px 8px;
    text-align: left;
    vertical-align: top;
    border-top: $site-border-width solid $block-default-divider;
    border-left: $site-border-width solid $block-default-divider;
  }
  caption + thead tr:first-child th,
  caption + tbody tr:first-child th,
  caption + tbody tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + tbody tr:first-child th,
  colgroup + tbody tr:first-child td,
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
}


.rakuten-afl {
  @include block-white($block-border-radius);
  table {
    margin: 0;
    border-bottom: none;
    td, tr {
      border: none;
    }
    img {
      border: none;
      border-radius: 0;
    }
  }
  margin-bottom: 20px;
}

/* Ascii Art */
.aa {
  color: $site-default-text !important;
  font-family: 'Mona','IPAMonaPGothic','IPA モナー Pゴシック','MS PGothic AA','MS PGothic','ＭＳ Ｐゴシック',sans-serif !important;
  font-size: 16px !important;
  line-height: 18px !important;
  p {
    @extend .aa;
  }
}

/* Alignment */
.align-left {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.align-right {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.align-center {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Clearing */
.clear,
.site-main,
.entry-content,
.page-content,
.nav-links,
.comment-body {
  @include clearfix;
}


