$site-logo-image-width: 190px;
$site-logo-image-height: 40px;

$header-height: 55px;
$site-logo-height: 28px;
$site-logo-height-mobile: 20px;
$header-height-mobile: 48px;

.site-header {
  width: 100%;
  margin: 0;
  padding: 0;
  height: $header-height;
  max-height: $header-height;
  line-height: $header-height;
  background: rgba($header-background-color, 0.5);
  border-bottom: 1px solid rgba($header-border-color, 0.3);
  a {
    color: $header-link-color;
    &:hover {
      color: $header-link-over-color;
    }
  }
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  will-change: transform;
  transition: transform 200ms linear;

  @include smaller-than-desktop-screen {
    height: $header-height-mobile;
    max-height: $header-height-mobile;
    line-height: $header-height-mobile;
  }
}

.site-header-logo {
  .site-header-logo-svg {
    fill: $header-link-color;
    margin-top: ($header-height - $site-logo-height) / 2;
    width: $site-logo-image-width * ($site-logo-height / $site-logo-image-height);
    height: $site-logo-height;
    .site-header-logo-svg-eve {
      fill: $monstersinc-blue;
    }
    @include smaller-than-desktop-screen {
      margin-top: ($header-height-mobile - $site-logo-height-mobile) / 2;
      width: $site-logo-image-width * ($site-logo-height-mobile / $site-logo-image-height);
      height: $site-logo-height-mobile;
    }
  }
  .site-header-logo-svg-log {
    fill: $header-accent-color;
  }
  &:hover {
    .site-header-logo-svg {
      fill: $monstersinc-blue;
      .site-header-logo-svg-eve {
        fill: $header-accent-color;
      }
    }
  }
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-96%);
}

.headroom--not-top {
  background: $header-background-color;
}

// text-logo
.has-no-svg {
  .site-header-logo-text {
    font-weight: bold;
    display: block !important;
  }
  .site-header-logo-svg {
    display: none !important;
  }
}

.site-header-nav {
  // for scrollbar
  padding: 0 20px 0 15px;
  display: flex;
  .site-header-nav-item1 {
    flex: 0 0 auto;
  }
  .site-header-nav-item2 {
    flex: 1 0 auto;
  }
  .site-header-nav-item3 {
    flex: 0 1 auto;
  }
  .header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px !important;
    padding: 0 !important;
    li {
      margin: 0 4px;
      a {
        font-size: $font-size-small;
        border: 1px solid $header-accent-color;
        color: $header-accent-color;
        border-radius: 4px;
        padding: 8px 16px;
        &:hover {
          border: 1px solid $monstersinc-blue;
          color: $monstersinc-blue;
        }
      }
    }
    @include smaller-than-desktop-screen {
      li {
        a {
          padding: 6px 12px;
        }
      }
    }
    @include smaller-than-tablet-screen {
      display: none;
    }
  }
  .search-form {
    .search-form-text {
      border: none;
      display: none;
      @include smaller-than-tablet-screen {
        width: 160px;
      }
    }
    &.is-active {
      .search-form-text {
        display: inline-block;
      }
      .search-form-trigger {
        .fa-search {
          display: none;
        }
        .fa-times {
          display: inline-block !important;
        }
      }
    }
  }
}

.site-progress {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
}
