
.site-header {
  padding: 20px 0;
  @include clearfix;

  .site-info {
    float: left;
    width: auto;

    .site-title {
      margin: 0;
      //font-size: 52px;
      font-weight: 700;
      a {
        color: $site-logo-text;
        &:hover {
          color: $site-logo-text-over;
        }
      }
    }
    .site-description {
      margin: 0;
      color: $site-neutral-color;
      font-size: $font-size-mini;
      font-style: italic;
    }
  }

  //.btn-rss {
  //  border-color: $md-orange-200;
  //  background-color: $white;
  //  .icon {
  //    color: $md-orange-200;
  //  }
  //  &:hover {
  //    border-color: $md-orange-400;
  //    background-color: $white;
  //    .icon {
  //      color: $md-orange-400;
  //    }
  //  }
  //}

  .sub-nav {
    float: right;
    padding-top: 10px;

    .socials {
      float: left;
    }

    .search-form {
      float: left;

      .search-form-text {
        width: 150px;
      }

    }
  }
}

.site-navi {
  margin: 0 0 20px;
}