
.site-header {
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
  max-width: $siteMainMaxWidth;
  width: 100%;
  @include clearfix;

  a {
    color: $siteForegroundColor;
    text-decoration: none;
    &:hover {
      color: $siteLinkOverColor;
    }
  }

  .site-info {
    float: left;
    width: auto;

    .site-title {
      font-family: 'Slackey';
      margin: 0;
      //letter-spacing: -2px;
      font-size: 40px;
      //font-size: 52px;
      //font-weight: bold;
      &:hover {
        color: $siteLinkColor;
      }
    }
    .site-description {
      margin: 0;
      color: $silver;
      font-size: 12px;
      font-style: italic;
    }
  }

  .sub-nav {
    float: right;
    padding-top: 10px;

    .socials {
      float: left;
      margin-right: 15px;
      line-height: 40px;

      a {
        color: $silver;
        &:hover {
          color: $siteLinkOverColor;
        }
      }
    }

    .searchform {
      float: left;

      input[type="search"] {
        background: url(images/search.png) no-repeat 10px 9px;
        padding: 8px 2px 8px 31px;
        width: 150px;
        border: none;

        border: $siteBorderWidth solid $clouds;
        @include border-radius(27px);
        @include transition(width 400ms ease, background 400ms ease);
        &:focus {
          cursor: text;
          outline: 0;
          border-color: $siteLinkOverColor;
        }
      }
    }

  }
}

