
$section-page-alternate-background-color: lighten($gray-lighter, 4%);

%btn-circle {
  @extend .btn;
  @extend .btn-primary;
  border-radius: 20px;
  float: none;
}

.section-page {
  @include clearfix;
  padding: 20px;

  .container {
  }

  .section-title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.section-page-first {
}

%time-label {
  padding: 8px;
  margin-right: 5px;
  font-weight: 400;
}
.section-page-entry {
}

.section-page-category {

  border-top: 1px solid $block-default-divider;
  background-color: $section-page-alternate-background-color;

  .list-category {
    list-style: none;
    padding: 0;

    li {
      display: inline;
      a {
        @extend .btn;
        background-color: $white;
        border: 1px solid $button-default-border;
        color: $button-default-text;
        border-radius: 2px;
        display: inline-block;
        margin: 5px;
        float: none;

        &:hover {
          border-color: $md-light-blue-600;
          color: $md-light-blue-600;
        }
      }
    }

    .children {
      display: inline;
      list-style: none;
      padding: 0;
    }
  }
}

.section-page-about {

  color: $white;
  background-color: $md-cyan-600;

  a {
    color: $md-cyan-a100;
    &:hover {
      color: $md-cyan-a200;
    }
  }

  .col-md-6 {
    box-sizing: border-box;
  }

  .list-history {
    list-style: none;
    padding-left: 0;

    li {
      padding: 5px 0;
      margin: 0;
      line-height: 2;
    }

    time {
      @extend %time-label;
      background-color: darken($blue, 10%);
      padding: 0;
      width: 120px;
      display: inline-block;
      text-align: center;
    }
  }
}

.section-page-archive {
  background-color: $section-page-alternate-background-color;
}

.list-archives {
  padding: 0;
  list-style: none;

  .list-archives-year {
    display: block;
    margin: 20px auto;
  }

  .list-archives-item-year {
    @include clearfix();
    margin: 20px auto;
    > a {
      @extend .btn;
      @extend .btn-default;
      &:hover {
        border-color: $md-light-blue-600;
        color: $md-light-blue-600;
      }
    }
  }

  .list-archives-month {
  }

  .list-archives-item-month {
    a {
      @extend .btn;
      @extend .btn-default;
      @include circle(42px);
      margin-left: 10px;
      margin-bottom: 5px;
      &:hover {
        border-color: $md-light-blue-600;
        color: $md-light-blue-600;
      }
    }
  }

  .list-archives-item-month-no-items {
    span {
      @extend .btn;
      @include circle(42px);
      margin-left: 10px;
      margin-bottom: 5px;
      background: $button-default-bg;
      color: $button-disable-text;
      border: $button-default-border-width solid $button-disable-border;
    }
  }
  .list-archives-item-month-no-items.list-archives-item-month-no-items-future {
    span {
    }
  }
}

// Desktop devices
@media (min-width: $container-desktop) {
  .list-archives {
    .list-archives-item-month {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
