
/* =Navigation
----------------------------------------------- */

.navigation-paging {
  background-color: $navi-default-bg;
  padding: 40px 0;

  a {
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
  }

  .nav-links {
    .nav-next {
      padding: 13px 0;
    }
  }

  .meta-nav {
    background-color: $site-default-link;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 26px;
    font-style: normal;
    padding: 6px;
    text-align: center;
    width: 50px;
  }

  .nav-previous .meta-nav {
    margin-right: 10px;
    padding: 18px;
    width: 80px;
  }

  .nav-next .meta-nav {
    margin-left: 10px;
  }

  a:hover .meta-nav {
    background-color: $site-default-link-over;
  }
}
