
/* =Navigation
----------------------------------------------- */

.site-navi {
  font-family: $sansFontFamily;
  margin: 5px auto 0;
}

.navigation-paging {
  background-color: $naviBackgroundColor;
  padding: 40px 0;

  a {
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
  }

  .nav-links {
    margin: 0 auto;
    max-width: $siteContentMaxWidth;
    width: 100%;

    .nav-next {
      padding: 13px 0;
    }
  }

  .meta-nav {
    background-color: $siteLinkColor;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 26px;
    font-style: normal;
    padding: 6px;
    text-align: center;
    width: 50px;
  }

  .nav-previous .meta-nav {
    margin-right: 10px;
    padding: 18px;
    width: 80px;
  }

  .nav-next .meta-nav {
    margin-left: 10px;
  }

  a:hover .meta-nav {
    background-color: $siteLinkOverColor;
  }
}
