/* = Note styling
-------------------------------------------------------------- */

@mixin note-variant($color) {
  background-color: $color;
  &[href] {
    &:hover,
    &:focus {
      background-color: darken($color, 10%);
    }
  }
}

%base-note {
  display: block;
  margin: $block-margin 0;
  padding: $block-padding;
  background-color: $block-default-bg;
  color: $block-default-text;
  border-left: $site-border-left-width solid $block-default-border;

  .syntaxhighlighter {
    width: auto;
  }

  &:before {
    @include block-awesome-icon(2em);
    margin-right: .4em;
    color: $block-default-icon;
  }
  &:after {
    clear: both;
  }
}

.note {
  @extend %base-note;
}

.note-ins {
  @extend .note;
  color: $state-warning-text;
  border-color: $state-warning-border;
  background-color: $state-warning-bg;
}

.note-link {
  @extend .note;
  &:before {
    @extend .fa-bookmark:before;
  }
}

.note-comment {
  @extend .note;
  &:before {
    @extend .fa-comment-o:before;
  }
}

.enclosure {
  @extend %base-note;
  &:before {
    content: $fa-var-file-o;
  }
}
.enclosure-github {
  @extend .enclosure;
  &:before {
    content: $fa-var-github-alt;
  }
}
.enclosure-qiita {
  @extend .enclosure;
  &:before {
    content: $fa-var-search;
  }
}
.enclosure-evernote {
  @extend .enclosure;
  &:before {
    content: $fa-var-file-o;
  }
}

