/* = Note styling
-------------------------------------------------------------- */

@mixin note-variant($color) {
  background-color: $color;
  &[href] {
    &:hover,
    &:focus {
      background-color: darken($color, 10%);
    }
  }
}

%base-note {
  display: block;
  margin: 20px 0;
  padding: 20px;

  .syntaxhighlighter {
    width: auto;
  }

  &:before {
    @include block-awesome-icon(2em);
    color: $silver;
  }
  &:after {
    clear: both;
  }
}

.note {
  @extend %base-note;
  color: $brand-default-text;
  border-left: $site-border-left-width solid $brand-default-border;
  background-color: $brand-default-bg;
}

.note-ins {
  @extend .note;
  color: $state-warning-text;
  border-color: $state-warning-border;
  background-color: $state-warning-bg;
//  &:before {
//    color: $stateWarningText;
//    @extend .fa-pencil:before;
//  }
}

.note-link {
  @extend .note;
  color: $state-info-text;
  border-color: $state-info-border;
  background-color: $state-info-bg;
  &:before {
    color: $state-info-text;
    @extend .fa-bookmark:before;
  }
}

.note-comment {
  @extend .note;
  color: $state-warning-text;
  border-color: $state-warning-border;
  background-color: $state-warning-bg;
  &:before {
    color: $state-warning-text;
    @extend .fa-comment-o:before;
  }
}

.enclosure {
  @extend %base-note;
  color: $brand-primary-text;
  border-left: $site-border-left-width solid $state-info-border;
//  background-color: $stateInfoBg;
  &:before {
    color: $state-info-text;
    content: $fa-var-file-o;
  }
}
.enclosure-github {
  @extend .enclosure;
  border-color: $github-border;
//  background-color: $githubBg;
  &:before {
    color: $github-border;
    content: $fa-var-github-alt;
  }
}
.enclosure-qiita {
  @extend .enclosure;
  border-color: $qiita-border;
  background-color: $qiita-bg;
  &:before {
    color: $qiita-border;
    content: $fa-var-search;
  }
}
.enclosure-evernote {
  @extend .enclosure;
  border-color: $evernote-border;
  background-color: $evernote-bg;
  &:before {
    color: $evernote-border;
    content: $fa-var-file;
  }
}

