
%pagenation-page {
  margin: 0 10px 0 0;
  display: inline-block;
  float: left;
  line-height: 1;
  text-decoration: none;
  background-color: $blueDark;
  color: $white;
  padding: 12px 15px 12px 16px;
  font-weight: bold;
  font-size: 16px;
  @include transition(all 0.25s linear);
}

.pagination {
  display: block;
  margin: 0 auto;
  max-width: $siteContentMaxWidth;
  @include clearfix;

  .page {

  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin-bottom: 10px;
    }

    .current {
      .page {
        @extend %pagenation-page;
      }
    }
  }

  a {
    @extend %pagenation-page;
    background-color: $siteAccentColor;
    &:hover {
      background-color: $blueDark;
    }
  }
}