
%pagenation-page {
  @extend .btn;
  @include border-radius(20px);
}

.pagination {
  display: block;
  margin: 0 auto;
  max-width: $siteContentMaxWidth;
  @include clearfix;

  .page {

  }

  ul {
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;

    li {
      float: left;
    }

    .current {
      .page {
        @extend %pagenation-page;
        background-color: $siteAccentColor;
      }
    }
  }

  a {
    @extend %pagenation-page;
    &:hover {
      background-color: $siteAccentColor;
    }
  }
}