
%pagenation-page {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-circle;
}

.pagination {
  display: block;
  @include clearfix;
  border-top: $site-border-width solid $block-default-divider;
  padding: 20px 0;

  ul {
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;

    li {
      float: left;
    }

    .current {
      .page {
        @extend %pagenation-page;
        color: $white;
        background-color: darken($site-accent-link, 10%);
        &:hover {
          color: $white;
          background-color: darken($site-accent-link, 10%);
        }
      }
    }
  }

  a {
    @extend %pagenation-page;
  }
}