$author-border-width: 2px;

.section-comment,
.pingbacks-area {
  @include main-block();
}

// Comments
// --------------------------------------------------------------

.section-comment {
}

.comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .children {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;

    @include smaller-than-desktop-screen {
      margin-left: 10px;
    }
  }

  & > .comment:after,
  & > .pingback:after,
  .children > .comment:before {
    @extend .hr;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
  }

  & > li:last-child:after {
    display: none;
  }
}

.comment-small {
  font-size: $font-size-small;
  line-height: $line-height-small;
  font-style: normal;
}

.comment {
  .comment-body {
    .comment-author {
      .avatar {
        float: left;
        max-width: 74px;
      }
    }
    .comment-metadata,
    .comment-awaiting-moderation,
    .comment-content {
      float: right;
      //noinspection CssOverwrittenProperties
      width: 80%;
      //noinspection CssOverwrittenProperties
      width: calc(100% - 64px);
    }
    .comment-content {
      @include smaller-than-mobile-screen {
        width: calc(100% - 32px);
      }
    }
  }
}

.comment-body {
  padding: 15px 0;
  position: relative;
  @include clearfix;

  .comment-author {
    .avatar {
      border-radius: 50%;
      display: block;
      margin-bottom: 10px;
    }
  }
  .comment-metadata {
    .fn,
    .comment-time {
      @extend .comment-small;
      margin-right: .3em;
      display: inline-block;

    }
    .edit-link,
    .fn {
      color: $site-accent-color;
    }
    .comment-time {
      color: $site-neutral-color;
    }
  }

  .comment-content {
    border: $site-border-width solid $block-default-border;
    padding: $block-padding;
    font-family: $font-family-content;
    overflow-x: auto;
    color: $site-default-text;
    a {
      word-wrap: break-word;
    }
    > p:first-of-type {
      margin-top: 0;
    }
    > p:last-of-type {
      margin-bottom: 0;
    }
  }

  .comment-awaiting-moderation {
    display: block;
    width: 100%;
    @extend .comment-small;
  }

  @include smaller-than-desktop-screen {
    .comment-metadata {
      margin-top: 10px;
    }
    .comment-awaiting-moderation,
    .comment-content {
      float: none;
      clear: both;
      width: auto;
      padding: 12px;
    }
    .comment-content {
      font-size: $font-size-base;
    }
  }
}

.comment-reply-link,
.comment-reply-login {
  @extend .comment-small;
}

.bypostauthor {
  > .comment-body {
    .comment-author {
      .avatar {
        border: $author-border-width solid $site-accent-color;
        background: $site-accent-color;
        padding: 2px;
      }
    }
    .comment-content {
      border: $author-border-width solid $site-accent-color;
    }
  }
}

.section-comment {
  .section-comments-title {
    float: none;
    width: auto;
  }
  .comment-respond {
    @include clearfix;
    margin: 0;
    padding: 0;
    .comment-reply-title {
      @extend .section-title;
    }
  }
}

.navigation-comment {
  border-bottom: 1px solid $block-default-divider;
  padding: 15px 0;
  @include clearfix();
}

.comment-form-comment {
  textarea {
    width: 100%;
  }
}

// comment-form without JetPack
.comment-form {
  margin-top: 8px;
  @include smaller-than-tablet-screen {
    input,
    textarea {
      width: 95%;
    }
  }
}
