
// Post or Page
// -----------------------------------------------

.post-summary,
.post-single {
  background: $site-component-content-bg;
  padding: $site-grid-margin;
  word-break:break-all;
  word-wrap: break-word;
  overflow-wrap : break-word;
  hyphens: auto;
}

.post-summary {
  .entry-header {
    padding: $site-grid-margin*2 $site-grid-margin*2 0;
  }
  .entry-content, .entry-summary {
    padding: $site-grid-margin $site-grid-margin*2 $site-grid-margin*2;
  }
  @include smaller-than-desktop-screen {
    padding: $site-grid-margin-small;
    .entry-header {
      padding: $site-grid-margin-small $site-grid-margin-small 0;
    }
    .entry-content, .entry-summary {
      padding: $site-grid-margin-small;
    }
  }
}

.post-single {
  .entry-header {
    padding: $site-grid-margin*4 $site-grid-margin*4 0;
  }
  .entry-content {
    padding: $site-grid-margin $site-grid-margin*4 0;
  }
  @include smaller-than-desktop-screen {
    margin-top: 0;
    .entry-header {
      padding: 0;
    }
    .entry-content {
      padding: 0;
    }
  }
}

.section {
  margin: 0;
  padding: $site-grid-margin;
  @include smaller-than-desktop-screen {
    padding: 0;
  }
}

.post-summary {
  margin-top: $site-grid-margin * 2;
  box-shadow: 2px 5px 10px -6px rgba(0,0,0,.1);

  @include smaller-than-desktop-screen {
    margin-top: $site-grid-margin-small * 2;
  }

  .post-summaries >&:first-child {
    margin-top: 0;
  }
  .post-summaries &:last-child {
  }
}

.entry-title {
  font-size: $entry-list-title-font-size;
  line-height: 1.3;
  .post-single & {
    font-size: $entry-title-font-size;
    line-height: 1;
  }

  @include smaller-than-desktop-screen {
    font-size: $entry-list-title-small-font-size;
    .post-single & {
      font-size: $entry-title-small-font-size;
    }
  }

  font-weight: 700;
  color: $entry-title-text;
  margin: 0;

  a {
    color: $entry-title-text;
    &:hover {
      color: $entry-title-text-over;
    }
  }
}

.entry-meta {
  font-size: $font-size-base;
  color: $site-neutral-color;

  .portfolio-posts-area {
    .entry-date {
      margin: 0 4px;
    }
  }
  // hide
  .entry-author {
    display: none;
  }
}

.entry-header {
  position: relative;

  .entry-meta {
    margin: 8px 0 0;
    font-weight: 700;
    line-height: $line-height-small;

    .time {
      font-weight: 700;
    }

    .tag-links {
      text-transform: capitalize;
      a {
        color: $site-neutral-color;
        &:hover {
          color: $site-default-link-over;
        }
      }
    }
  }

  // centering in single page
  .single &, .page & {
    padding: 20px 0 0;
    text-align: center;
  }
}

$entry-header-color: $site-accent-color;

.entry-content,
.entry-summary {
  font-family: $font-family-content;
  font-size: $entry-list-content-font-size;
  .post-single & {
    font-size: $entry-content-font-size;
    line-height: $line-height-base;
  }
  img {
    display: block;
    margin: $block-margin auto;
  }
  figure {
    margin: $block-margin auto;
    img {
      margin: 0 auto;
    }
    figcaption {
      margin-top: .5em;
      color: $md-grey-700;
      line-height: $line-height-small;
      text-align: center;
    }
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-base;
  }
  .post-single & {
    h2 {
      font-size: $entry-h2-font-size;
      margin: 1em;
      margin-left: -$site-grid-margin;
      padding: .7em 1em;
      border-left: .5em solid $entry-header-color;
      @include smaller-than-desktop-screen {
        margin-left: -$site-grid-margin-small;
      }
    }
    h3 {
      font-size: $entry-h3-font-size;
      border-bottom: .2em solid $entry-header-color;
      margin: .5em 0 .5em -.25em;
      padding: .4em .2em;
    }
    h4 {
      font-size: $entry-h4-font-size;
      border-bottom: .1em solid $entry-header-color;
      padding: .4em .2em;
    }
    h5 {
      font-size: $entry-h5-font-size;
    }
    @include smaller-than-desktop-screen {
      h2 {
        font-size: $entry-h2-small-font-size;
        padding: .7em .7em;
      }
      h3 {
        padding: .4em 0;
      }
      h4 {
        padding: .4em 0;
      }
    }
  }

  blockquote {
    line-height: $line-height-small;
  }

  @include smaller-than-desktop-screen {
    // Collapse oversized image and pulled images after iPad breakpoint.
    img.alignleft,
    .wp-caption.alignleft {
      margin-left: 0;
    }
    img.alignright,
    .wp-caption.alignright {
      margin-right: 0;
    }
  }
  @include smaller-than-tablet-screen {
    .post-single & {
      font-size: $font-size-base;
    }
    .align-right {
      float: none;
    }
  }
}

.entry-header,
.entry-content,
.entry-footer {
  @include clearfix;
}

.btn-more-link {
  float: right;
  font-size: $font-size-base;
  border-radius: 20px;
  margin-right: -$site-grid-margin;
  @include smaller-than-desktop-screen {
    margin-right: 0;
  }
}

// Sticky (Featured) Content
// -----------------------------------------------

.sticky {
  border: $site-default-border solid $site-border-width;
}

// Media
// -----------------------------------------------

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%content-caption {
  color: $caption-text;
  font-size: $font-size-base;
}

.wp-caption {
  .wp-caption-text {
    @extend %content-caption;
  }
}

.gallery-caption {
  @extend %content-caption;
}

.entry-content img,
.entry-summary img,
.comment-content img,
.widget img {
  max-width: 100%;
}

img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%;
}

embed,
iframe,
object {
  max-width: 100%;
}

.section {
  .section-title {
    text-transform: uppercase;
  }
}

.section-default {
  .section-title {
    color: $site-neutral-color;
    border-bottom: $site-border-width solid $block-default-divider;
    padding-bottom: 3px;
    &:before {
      //noinspection CssNoGenericFontName
      font-family: FontAwesome;
      color: $site-neutral-color;
      margin-right: 5px;
    }
  }
}

%content-section-mini-title {
  color: $md-grey-500;
  font-weight: 700;
  text-transform: uppercase;
  font-size: $font-size-base;
  margin: 8px 0 4px 0;
}

.section-mini {
  border-top: 1px solid $block-default-divider;
  @include clearfix;

  .section-title,
  .comment-reply-title {
    @extend %content-section-mini-title;
  }
}

.section-2col {
  .section-title {
    float: left;
    width: 15.625%;
  }
  .section-content {
    float: right;
    width: 82.125%;
    margin: 5px 0;
  }
  @include smaller-than-desktop-screen {
    .section-title {
      float: none;
      width: auto;
    }
    .section-content {
      float: none;
      width: auto;
      margin-left: $site-grid-margin-small;
    }
  }
}

// Share This
// -----------------------------------------------
.section-share-this {
  // space for counter
  padding-top: 1.5 * $site-grid-margin;
}

// Mylist
// -----------------------------------------------
.section-mylist {
  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 $site-grid-margin;
    li {
      list-style: none;
    }

    .fa {
      color: $site-neutral-color;
      margin-right: $site-grid-margin;
    }
  }
}

// Related Posts
// -----------------------------------------------
.section-related-posts {
  &.section-2col {
    @include smaller-than-desktop-screen {
      .section-content {
        margin-left: 5px;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      .fa-angle-right {
        color: $site-neutral-color;
      }
    }
  }
}
.related-posts {
  @include smaller-than-desktop-screen {
    .related-post {
      padding: $site-grid-margin-small;
    }
  }
}

// JetPack Related Posts
// -----------------------------------------------
.entry-footer {
  #jp-relatedposts {
    margin: 8px 0 0 0;
    padding: 0;
    .jp-relatedposts-headline {
      border-bottom: 4px solid $block-default-divider;
      display: block;
      float: none;

      em {
        @extend %content-section-mini-title;
        color: $md-grey-700;
        margin: 8px 0;
        display: block;
        &:before {
          border: none !important;
          margin: 0 !important;
        }
      }
    }
  }
}

// Last Updated
// -----------------------------------------------
.post-single {
  .section-last-updated {
    display: none;
  }
}

// Archives (Content List)
// -----------------------------------------------
.archive {
  .post-summaries {
    border-top: 1px solid $site-default-border;
  }
  .post-summary {
    .share-buttons {
      float: right;
    }
  }
}