.section-share-this {
  @include clearfix;
}

$share-icon-size: 20px;

.section-share-this {
}

.share-item {
  min-height: 30px;
  margin: 0;
  vertical-align: middle;
}

.share-buttons {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
}
.btn-share {
  @extend .btn-circle;

  position: relative;
  font-weight: normal;
  margin: 0 $site-grid-margin;
  background: $site-primary-color;
  border-color: $white;
  color: $white;
  font-size: $share-icon-size;

  .share-title {
    display: none;
  }
  .icon {
    text-align: center;
    margin-left: 7px;
  }

  .share-brand-icon {
    display: inline-block;
    vertical-align: -.125em;
    fill: $white;
  }

  .share-count {
    position: absolute;
    left: 22px;
    top: -8px;
    background-color: $md-pink-300;
    color: $white;
    border-radius: 50%;
    text-align: center;
    font-size: .65em;
    font-weight: bold;
    min-height: 20px;
    min-width: 20px;
    line-height: 20px;
    &.share-count-has {
      opacity: 1;
    }
  }
  .share-count-link {
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-share-twitter {
  background: desaturate($twitter-blue, 20%);
  &:hover {
    background: lighten($twitter-blue, 10%);
    color: $white;
  }
}

.btn-share-facebook {
  background: desaturate($facebook-blue, 20%);
  &:hover {
    background: lighten($facebook-blue, 10%);
    color: $white;
  }
}
.btn-share-hatena {
  background: desaturate($hatena-bookmark-blue, 20%);
  &:hover {
    background: lighten($hatena-bookmark-blue, 10%);
    color: $white;
  }
}
.btn-share-pocket {
  background: desaturate($pocket-pink, 20%);
  &:hover {
    background: lighten($pocket-pink, 10%);
    color: $white;
  }
}