
@media (max-width: 1069px) {

  .error404 {
    .page-header {
      margin-left: auto;
      max-width: 604px;
      width: 100%;
    }
    .page-title {
      font-size: 24px;
      padding: 180px;
      &:before {
        font-size: 554px;
        left: 7px;
        top: 28px;
      }
    }
  }
}

// Desktop devices
@media (min-width: $desktopMaxWidth) {

  .site-header {
    .search-form {
      .search-form-text {
        &:focus {
          width: 230px;
        }
      }
    }
  }
}

// Unless desktop
@media (max-width: $desktopMaxWidth) {

  .site-navi {
    .breadcrumb {
      padding: 8px;

    }
  }

  .page-header {
    padding: 10px 20px;
  }

  .hentry {
    padding: 20px 0;

    .entry-header {
      padding: 5px 0;
    }
  }

  .hentry,
  .page-content,
  .nav-links,
  .zenback-widget-area,
  .comments-area,
  .pingbacks-area,
  .pagination {
    padding-right: 10px;
    padding-left: 10px;
  }

  .page-title {
    font-size: 22px;
  }
  .entry-title {
    font-size: 22px;
  }

  .related-posts {
    .related-post {
      padding: 10px;
    }
  }

  h1 {
    margin: 16px 0;
  }

  h2 {
    margin: 12px 0;
  }

  h3 {
    margin: 11px 0;
  }

  h4 {
    margin: 10px 0;
  }

  h5 {
    margin: 9px 0;
  }

  h6 {
    margin: 8px 0;
  }

  code,
  kbd,
  pre,
  tt,
  var,
  samp {
    font-size: 14px;
  }
}

// Collapse oversized image and pulled images after iPad breakpoint.
@media (max-width: $ipadMaxWidth) {
  .entry-content img.alignleft,
  .entry-content .wp-caption.alignleft {
    margin-left: 0;
  }
  .entry-content img.alignright,
  .entry-content .wp-caption.alignright {
    margin-right: 0;
  }
}

// Tablet devices
@media (max-width: $tabletMaxWidth) {

  .site-header {
    .site-title {
      font-size: 24px;
    }
  }

  blockquote {
    margin: 16px 0;
  }

  .comment-body {
    .comment-content {
      width: 100%;
    }
  }

  .error404 {
    .page-title {
      padding: 20px;
      &:before {
        content: normal;
      }
    }
  }
}

// Mobile devices
@media (max-width: $mobileMaxWidth) {

  .site-header {
    .site-info {
      float: none;
      text-align: center;
    }
    .sub-nav {
      float: none;
      .social {
        float: left;
      }
      .searchform {
        float: right;
      }
    }
  }

  .entry-content {
    .align-right {
      float: none;
    }
  }

  .site-footer {
    .site-info {
      .credit {
        display: block;
      }
    }
  }
}

// Retina-specific styles.
//@media print,
//(-o-min-device-pixel-ratio: 5/4),
//(-webkit-min-device-pixel-ratio: 1.25),
//(min-resolution: 120dpi) {
//}

@media print {
  body {
    background: none !important;
    color: #000;
    font-size: 10pt;
  }

  .site-title {
    font-size: 21pt;
  }
  .site-description {
    font-size: 10pt;
  }

  .searchform,
  .author-avatar,
  .site-footer,
  .edit-link,
  .widget-area,
  .comment-edit-link,
  .comments-area .reply,
  .comments-link,
  .zenback-widget-area,
  #respond,
  .navigation-post,
  .navigation-paging,
  .navigation-comment,
  .comment-author,
  .comment-awaiting-moderation {
    display: none;
  }

  .page-title,
  .entry-title {
    font-size: 21pt;
  }

  .entry-meta,
  .entry-meta a {
    color: #444;
    font-size: 10pt;
  }

  .entry-content img.alignleft,
  .entry-content .wp-caption.alignleft {
    margin-left: 0;
  }

  .entry-content img.alignright,
  .entry-content .wp-caption.alignright {
    margin-right: 0;
  }

  .comment-body .comment-metadata,
  .comment-body .comment-awaiting-moderation,
  .comment-body .comment-content {
    width: 100%;
    float: none;
  }
}