
@media (max-width: 1069px) {

  .error404 {
    .page-header {
      margin-left: auto;
      max-width: 604px;
      width: 100%;
    }
    .page-title {
      font-size: 20px;
      padding: 180px;
      width: 604px;
      &:before {
        font-size: 554px;
        left: 7px;
        top: 28px;
      }
    }
  }
}

// Desktop devices
@media (min-width: $container-desktop) {

  .site-content-header {
    .search-form {
      .search-form-text {
        &:focus {
          width: 230px;
        }
      }
    }
  }
}

// Unless desktop
@media (max-width: $container-desktop) {

  .entry-title {
    .post-single & {
      font-size: $entry-list-title-font-size;
    }
  }
  .page-title {
    font-size: $entry-list-title-font-size;
  }

  .section-page {
    padding: 10px;
  }

  .related-posts {
    .related-post {
      padding: 10px;
    }
  }

  h1 {
    margin: 16px 0;
  }

  h2 {
    margin: 12px 0;
  }

  h3 {
    margin: 11px 0;
  }

  h4 {
    margin: 10px 0;
  }

  h5 {
    margin: 9px 0;
  }

  h6 {
    margin: 8px 0;
  }

  code,
  kbd,
  pre,
  tt,
  var,
  samp {
    font-size: 14px;
  }

  .site-footer {
    .copyrights {
      .credit,
      .poweredby {
        font-size: $font-size-mini;
        float: none;
        display: block;
        text-align: center;
      }
    }
  }
}

// Collapse oversized image and pulled images after iPad breakpoint.
@media (max-width: $container-tablet) {
  .entry-content {
    img.alignleft,
    .wp-caption.alignleft {
      margin-left: 0;
    }
    img.alignright,
    .wp-caption.alignright {
      margin-right: 0;
    }
  }
}

// Tablet devices
@media (max-width: $container-tablet) {

  .home-header {
    float: none;
    width: 100%;
    text-align: center;

    .blog-logo {
      width: 142px;
      height: 30px;
    }
  }

  blockquote {
    margin: 16px 0;
  }

  .section-2col {
    .section-title {
      float: none;
      width: auto;
    }
    .section-content {
      width: auto;
      float: none;
      margin-left: 15px;
    }
  }

  .comment {
    .comment-body {
      .comment-metadata {
        margin-top: 10px;
      }
      .comment-awaiting-moderation,
      .comment-content {
        float: none;
        clear: both;
        width: auto;
        padding: 12px;
      }
    }
  }
  .comment-body {
    .comment-content {
      font-size: $font-size-base;
    }
  }
  .comment-list {
    .children {
      margin-left: 10px;
    }
  }

  .error404 {
    .page-title {
      padding: 20px;
      &:before {
        content: normal;
      }
    }
  }
}

// Mobile devices
@media (max-width: $container-mobile) {

  .home-header {
    float: none;
    text-align: center;
  }

  .entry-content {
    .align-right {
      float: none;
    }
  }

  .site-footer {
    .credit {
      display: block;
    }
  }

  .comment-form {
    input,
    textarea {
      width: 95%;
    }
  }
}

@media print {
  body {
    background: none !important;
    color: #000;
    font-size: 10pt;
  }

  .blog-title {
    font-size: 21pt;
  }
  .blog-description {
    font-size: 10pt;
  }

  .search-form,
  .author-avatar,
  .site-footer,
  .edit-link,
  .widget-area,
  .comment-edit-link,
  .section-comment .reply,
  .comments-link,
  .zenback-widget-area,
  #respond,
  .navigation-post,
  .navigation-paging,
  .navigation-comment,
  .pagination,
  .comment-author,
  .comment-awaiting-moderation {
    display: none;
  }

  .page-title,
  .entry-title {
    font-size: 21pt;
  }

  .entry-meta,
  .entry-meta a {
    color: #444;
    font-size: 10pt;
  }

  .entry-content {
    img.alignleft,
    .wp-caption.alignleft {
      margin-left: 0;
    }
    img.alignright,
    .wp-caption.alignright {
      margin-right: 0;
    }
  }

  .comment-body .comment-metadata,
  .comment-body .comment-awaiting-moderation,
  .comment-body .comment-content {
    width: 100%;
    float: none;
  }
}