.search-form {
  .search-form-text {
    border-radius: 0;
    transition: width 400ms ease, background 400ms ease;
    color: $site-neutral-color;
    &:focus {
      cursor: text;
      outline: 0;
      color: $site-default-text;
    }
  }
}