.search-form {

  .search-form-fieldset {
    position: relative;
    border: $site-border-width solid $clouds;
    background: $white;
    border-radius: 27px;
    margin: 0;
    padding: 8px 8px 8px 40px;
  }

  .fa-search {
    font-size: 20px;
    border-radius: 27px;
    left: 3px;
    top: 3px;
    color: $site-neutral-color;
    position: absolute;
    padding: 7px 8px 8px 8px;
  }

  .search-form-text {
    padding: 0;
    border: none;
    transition: width 400ms ease, background 400ms ease;
    color: $site-neutral-color;
    &:focus {
      cursor: text;
      outline: 0;
      color: $site-default-text;
    }
  }

  .search-form-submit {
    left: 3px;
    top: 3px;
    padding: 8px 0;
    float: right;
    border: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: white;
    background: transparent;
    z-index: 10;
    position: absolute;
    border:0;
    vertical-align: top;
  }

}