.section-share-this {
  @include clearfix;
}

.section-share-this {
}

.share-item {
  float: left;
  min-height: 30px;
  margin: 0;
  padding: 0 10px 0 0;
  line-height: 18px;
  vertical-align: middle;
}

.share-item-twitter {
  width: 96px;
  height: 30px;
}

.share-item-pocket {
  width: 103px;
  height: 30px;
}

.share-item-google-plus {
  width: 71px;
}

.share-content {
  ul {
    padding: 0;
    margin: 4px 0 4px 0;
    list-style: none;
    li {
      display: inline;
    }
  }
}
.share-button {
  text-decoration: none;
  display: inline-block;
  margin: 4px 8px 4px 0;
  font-size: 12px;
  font-weight: normal;
  border-radius: 4px;
  color: $white;
  background-color: $site-dark-accent-color;
//  background-color: $site-link-color;
  text-shadow: none;
  line-height: 23px;
  padding: 4px 16px 4px 16px;
  min-width: 100px;
  text-align: center;

  &:hover {
//    color: $blue-dark;
    color: $white;
    background-color: $site-link-over-color;
  }

  .share-count {
    background-color: $white;
    color: $site-dark-accent-color;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: .85em;
    font-weight: blod;
    margin-left: 8px;
    padding: 4px;
    min-height: 18px;
    min-width: 18px;
    line-height: 1;
  }
  .share-count-link {
    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin share-button-with-generic-icon($brand-color, $icon-content) {
//  background-color: $brand-color;
//  &:hover {
//    background-color: lighten($brand-color, 20%);
//  }
  &:before {
    font-family: Genericons;
    content: $icon-content;
    margin-right: 2px;
    font-size: 1.2em;
    vertical-align: sub;
  }
}

@mixin share-button-with-entypo-icon($brand-color, $icon-content) {
//  background-color: $brand-color;
//  &:hover {
//    background-color: lighten($brand-color, 20%);
//  }
  &:before {
    font-family: EntypoSocialRegular;
    @extend .entypo-social;
    content: $icon-content;
    margin-right: 2px;
    vertical-align: sub;
  }
}

.share-button-twitter {
  @include share-button-with-generic-icon($twitter-blue, $gi-var-twitter);
}
.share-button-hatena {
  @include share-button-with-entypo-icon($hatena-bookmark-blue, $es-var-hatebu);
}
.share-button-pocket {
  @include share-button-with-generic-icon($pocket-pink, $gi-var-pocket);
}
.share-button-googleplus {
  @include share-button-with-generic-icon($google-plus-red, $gi-var-googleplus-alt);
}
.share-button-facebook {
  @include share-button-with-generic-icon($facebook-blue, $gi-var-facebook-alt);
}