

.widget {
  font-size: 14px;
  margin: 0 0 24px;
  padding: 20px;

  .widget-title {
    font-weight: 300;
    font-size: 20px;
    margin: 0 0 10px;
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 5px 0;

    > ul,
    > ol {
      margin-left: 20px;
    }
  }

  .children li:last-child {
    padding-bottom: 0;
  }

  .searchform [type="text"] {
    width: 100%;
  }
}

/* Inline Archives widget */
.widget-inline-archives {
  li {
    ul {
      margin-left: 5px;
    }
  }

}
/* Search widget */
.searchform [type="submit"] {
  display: none;
}


