.entry-content,
.page-content,
.comment-content {

  // Inline code
  code {
    margin: 2px 4px;
    padding: 4px 8px;
    color: $site-default-text;
    border: none;
    background-color: $code-default-bg;
    //white-space: nowrap;
  }

  .code > pre /* CodeRay by GFM plugins */
  {
    color: #000;
  }

  .syntaxhighlighter {
    @extend .block-content;
  }

  .syntaxhighlighter {
    background-color: transparent;
    width: auto !important;

    .gutter {
      .line {
        border-right: 3px solid $site-main-color !important;
        padding-left: 12px;
        color: #BEBEC5;
        line-height: 18px;
        text-shadow: 0 1px 0 white;
      }

      .line.highlighted {
          background-color: $site-main-color !important;
          color: $white !important;
      }
    }
  }

  .ie.syntaxhighlighter {
    padding: 24px !important;
  }
}
