.site-sidebar {
  .widget {
    border-radius: $site-component-header-bg-radius;
    background: $site-component-content-bg;
    color: $site-component-content-text;
    margin-top: $site-grid-margin * 2;
    font-size: 0.98em;
    line-height: $line-height-small;
  }
  & >.widget:first-child {
    margin-top: 0;
  }
  .widget-title {
    font-size: $font-size-base * 1.1;
    background: $site-primary-light-color;
    margin: 0;
    padding: $site-grid-margin * 0.7 $site-grid-margin;
    text-align: center;
  }
}

.widget_makotokw_static_post-list {
  margin: 0;
  padding: $site-grid-margin;
  list-style: none;
  a {
    color: $site-default-text;
    &:hover {
      color: $site-default-link-over;
    }
  }
  li {
    margin: 0;
    padding: $site-grid-margin/2 0;
    border-bottom: 1px solid $site-default-border;

    .static-post-image-container {
      max-width: 75px;
      margin-right: $site-grid-margin/2;
    }
    .static-post-image {
      max-width: 75px;
    }
    .static-post-text {
      font-weight: bold;
    }

    >a {
      display: flex;
      &:hover {
        .static-post-image {
          transform: scale(1.05);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  li:first-child {
    padding-top: 0;
  }
  li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.widget_widget_makotokw_categories {
  .list-categories {
    .cat-item {
      a {
        color: $site-default-text;
        &:hover {
          color: $site-default-link-over;
        }
      }
    }
    .children {
      .cat-item {
        a {
          color: lighten($site-default-text, 10%);
          &:hover {
            color: $site-default-link-over;
          }
        }
      }
    }
  }
}

.widget_widget_makotokw_profile {
  .profile-widget {
    font-size: $font-size-small;
  }
}