
/* =Zenback
-------------------------------------------------------------- */

.zenback-widget-area {

  #zenback-widget {

    #zenback-social-button {
      .zenback-module-item {
        padding: 0 5px 0 0;
      }
    }

    .zenback-module-label {
      @include text-shadow(none);
    }

    .zenback-module-content {
      border-top: $block-border-width solid;
    }

    .zenback-module-more-link {
      @include border-radius($block-border-radius);
      border: none;
      background-color: $peter-river;
      &:hover {
        background-color: lighten(desaturate($peter-river, 10%), 20%);
      }
      a {
        color: $white;
      }

    }

    #zenback-related-keywords {
      .zenback-module-list {
        .zenback-module-item {
          a {
            color: $white;
            @include border-radius(0);
            border: none;
            background-color: $turquoise;
            margin-right: 5px;
            margin-bottom: 5px;
            line-height: 15px;
            &:hover {
              color: $white;
            }
          }
        }
      }
    }

    #zenback-news-hasimage {
      .zenback-module-label {
        background-color: $blue;
      }
      .zenback-module-content {
        border-color: $blue;
      }
    }
    #zenback-related-links {
      .zenback-module-label {
        background-color: $turquoise;
      }
      .zenback-module-content {
        border-color: $turquoise;
      }
    }
    #zenback-twitter {
      .zenback-module-item {
        border-bottom: $block-border-width solid $clouds;
      }
    }
    #zenback-hatena-bookmark {
      .zenback-module-label {
        background-color: lighten(desaturate($hatena-bookmark-blue,3%),6%);
      }
      .zenback-module-content {
        border-color: lighten(desaturate($hatena-bookmark-blue,3%),6%);
      }
      .zenback-module-item {
        border-bottom: $block-border-width solid $clouds;
      }
    }
    #zenback-powered {
      border-top: $block-border-width solid lighten(desaturate($zenback-green,10%),20%);
      img {
        background-color: lighten(desaturate($zenback-green,10%),20%);
      }
    }
  }
}

.zenback-widget-area-debug {
  @include border-radius($block-border-radius);
  @include text-shadow(none);
  background-color: $green;
  color: #fff;
  text-align: center;
  padding: 60px;
}