.archive-page {
  .list-archives {
    padding: 0;
    list-style: none;

    .list-archives-year {
      display: block;
      margin: 20px auto;
    }

    .list-archives-item-year {
      @include clearfix();
      margin: 20px auto;
      > a {
        @extend .btn;
        @extend .btn-default;
        &:hover {
          border-color: $md-light-blue-600;
          color: $md-light-blue-600;
        }
        @include smaller-than-tablet-screen {
          padding: 10px 6px;
        }
      }

    }

    .list-archives-month {
    }

    .list-archives-item-month {
      a {
        @extend .btn;
        @extend .btn-default;
        @include circle(42px);
        margin-left: 10px;
        margin-bottom: 5px;
        &:hover {
          border-color: $md-light-blue-600;
          color: $md-light-blue-600;
        }
      }
    }

    .list-archives-item-month-no-items {
      span {
        @extend .btn;
        @include circle(42px);
        margin-left: 10px;
        margin-bottom: 5px;
        background: $button-default-bg;
        color: $button-disable-text;
        border: $button-default-border-width solid $button-disable-border;
      }
    }

    //@include smaller-than-tablet-screen {
      .list-archives-item-month {
        a {
          @include circle(35px);
          margin-left: 0;
        }
      }
      .list-archives-item-month-no-items {
        span {
          @include circle(35px);
          margin-left: 0;
        }
      }
    //}


    .list-archives-item-month-no-items.list-archives-item-month-no-items-future {
      span {
      }
    }
  }
}
