// Layout Size ----------------------------
$site-header-margin: 10px;
$site-header-margin-small: 5px;
$site-header-banner-height: 64px;
$site-header-banner-height-small: 48px;
$site-header-progress-height: 4px;
$site-header-height: $site-header-banner-height + 1 + $site-header-margin * 2;
$site-header-height-small: $site-header-banner-height-small + 1 + $site-header-margin-small * 2;

$site-border-radius: 4px;
$site-border-width: 1px;
$site-border-left-width: .6em;

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// ----------------------------

$font-family-mincho: 'Hiragino Mincho ProN', 'Hiragino Mincho ProN W3', YuMincho;
$font-family-gothic: 'Yu Gothic', YuGothic, 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic Pro', Meiryo, 'M+ 1p';

$font-family-sans-serif: 'Nunito Sans', $font-family-gothic, sans-serif;
$font-family-monospace: Monaco, Menlo, Consolas, 'Courier New', monospace, $font-family-gothic, sans-serif;;

// Layout color ----------------------------
$aztecSky: rgb(77, 181, 215);

$site-primary-color: $aztecSky;
$site-primary-dark-color: darken($aztecSky, 60%);
$site-primary-light-color: lighten($aztecSky, 50%);
$site-on-primary-text-color: #fff;
$site-surface-color: #fff;
$site-background-color: #fff;

$site-default-border: $md-grey-300;
$site-default-border-over: $md-grey-400;
$site-progress-border: $site-primary-color;
$site-badge-color: $md-pink-400;
$site-on-badge-text-color: #fff;

$site-default-text: $md-blue-grey-600;
$site-heading-text: $md-blue-grey-700;
$site-neutral-text: $md-blue-grey-300;
$site-placeholder-text: $md-grey-300;
$site-default-link: darken($site-primary-color, 10%);
$site-default-link-over: darken($site-primary-color, 20%);

// Block  ----------------------------
$block-default-bg: $site-surface-color;
$block-default-text: $md-blue-grey-700;
$block-default-icon: $md-blue-grey-400;
$block-padding: 15px;

// Header  ----------------------------
$header-default-bg: white;
$header-default-text: $site-default-text;
$header-default-link: $site-default-text;
$header-default-link-over: $site-default-link-over;
$header-banner-link: $site-heading-text;
$header-banner-link-over: darken($site-primary-color, 10%);

// Footer  ----------------------------
$footer-default-bg: white;
$footer-default-text: $site-default-text;

// Sidebar  ----------------------------
$sidebar-default-bg: $md-grey-50;

// Typography ----------------------------
$entry-text: $md-blue-grey-900;
$entry-summary-text: $md-blue-grey-600;
$entry-feature-image-radius: 4px;
$caption-text: #767676;
$code-default-bg: rgba(27, 31, 35, .05); // from GitHub
$blockquote-text: $md-grey-700;

// Button ----------------------------
$button-contained-bg: $site-primary-color;
$button-contained-bg-over: lighten($button-contained-bg, 10%);
$button-contained-text: $site-on-primary-text-color;
$button-contained-disable-bg: $md-grey-200;
$button-contained-disable-text: $md-grey-400;
$button-outlined-bg: transparent;
$button-outlined-bg-over: lighten($site-primary-color, 40%);
$button-outlined-border: $site-default-border;
$button-outlined-border-width: 1px;
$button-outlined-text: $site-primary-color;
$button-outlined-disable-border: $md-grey-300;
$button-outlined-disable-text: $md-grey-300;

// State ----------------------------
$state-warning-text: #c09853;
$state-warning-bg: #fefaef;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 3%);
$state-danger-text: #b94a48;
$state-danger-bg: #f2dede;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 3%);
$state-success-text: #468847;
$state-success-bg: #dff0d8;
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%);
$state-info-text: #3a87ad;
$state-info-bg: lighten(#d9edf7, 7%);
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%);

// Alert ----------------------------
$alert-padding: 30px;
$alert-border-radius: $site-border-radius;
$alert-link-font-weight: bold;
$alert-success-bg: $state-success-bg;
$alert-success-text: $state-success-text;
$alert-success-border: $state-success-border;
$alert-info-bg: $state-info-bg;
$alert-info-text: $state-info-text;
$alert-info-border: $state-info-border;
$alert-warning-bg: $state-warning-bg;
$alert-warning-text: $state-warning-text;
$alert-warning-border: $state-warning-border;
$alert-danger-bg: $state-danger-bg;
$alert-danger-text: $state-danger-text;
$alert-danger-border: $state-danger-border;

