@use 'abstracts' as *;
@use 'components/button';

.archive-page {

  .list-archives {
    padding: 0;
    list-style: none;

    .list-archives-year {
      display: block;
      margin: var(--space-5) auto;
    }

    .list-archives-item-year {

      @include clearfix();
      margin: var(--space-5) auto;

      > a {

        @extend .btn-outlined;

        &:hover {
          border-color: var(--color-brand);
          color: var(--color-brand);
        }

        @include smaller-than-tablet-screen {
          padding: var(--space-3) var(--space-2);
        }
      }

    }

    .list-archives-month {
    }

    .list-archives-item-month {

      a {

        @extend .btn-outlined;
        @include circle(42px);
        margin-left: var(--space-3);
        margin-bottom: var(--space-1);

        &:hover {
          border-color: var(--color-brand);
          color: var(--color-brand);
        }
      }
    }

    .list-archives-item-month-no-items {

      span {

        @extend .btn-outlined;
        @extend .btn-disabled;
        @include circle(42px);
        margin-left: var(--space-3);
        margin-bottom: var(--space-1);
      }
    }

    //@include smaller-than-tablet-screen {
      .list-archives-item-month {

        a {

          @include circle(35px);
          margin-left: 0;
        }
      }

      .list-archives-item-month-no-items {

        span {

          @include circle(35px);
          margin-left: 0;
        }
      }
    //}


    .list-archives-item-month-no-items.list-archives-item-month-no-items-future {

      span {
      }
    }
  }
}
