@use 'abstracts' as *;
@use 'components/button';

.page-template-categories {

  .entry-content {

    .list-categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .cat-item {
        display: inline-block;

        svg {
          min-width: inherit;
        }

        a {

          @extend .btn-outlined;
          margin: var(--space-1) 0 var(--space-1) var(--space-1);
          float: none;

          &:hover {
            border-color: var(--color-brand);
            color: var(--color-brand);
          }
        }

        > .cat-item-entry-count {
          margin: 0 var(--space-3) 0 -15px;
        }
      }

      .children {
        display: inline;
        list-style: none;
        padding: 0;
      }
    }
  }
}
