@use 'abstracts' as *;

.tags-cloud {
  padding: 0 5px;
  line-height: 2;

  .tag {
    display: inline-block;
    margin: 0 5px;
  }

  .rank-1 {
    font-size: 1.375rem;

    a {
      color: var(--color-tag-rank-1);
    }
  }

  .rank-2 {
    font-size: 1.35rem;

    a {
      color: var(--color-tag-rank-2);
    }
  }

  .rank-3 {
    font-size: 1.3rem;

    a {
      color: var(--color-tag-rank-3);
    }
  }

  .rank-4 {
    font-size: 1.275rem;

    a {
      color: var(--color-tag-rank-4);
    }
  }

  .rank-5 {
    font-size: 1.25rem;

    a {
      color: var(--color-tag-rank-5);
    }
  }

  .rank-6 {
    font-size: 1.125rem;

    a {
      color: var(--color-tag-rank-6);
    }
  }

  .rank-7 {
    font-size: 1.1rem;

    a {
      color: var(--color-tag-rank-7);
    }
  }

  .rank-8 {
    font-size: 1rem;

    a {
      color: var(--color-tag-rank-8);
    }
  }

  .rank-9 {
    font-size: 0.95rem;

    a {
      color: var(--color-tag-rank-9);
    }
  }

  .rank-10 {
    font-size: 0.95rem;

    a {
      color: var(--color-tag-rank-10);
    }
  }

}
